$breakpoints: (
        "phone-small":  349px,
        "phone":        399px,
        "phone-wide":   479px,
        "phablet":      559px,
        "tablet-small": 639px,
        "tablet":       767px,
        "tablet-med":   960px,
        "tablet-wide":  1023px,
        "desktop":      1200px,
        "desktop-wide": 1439px
);

$default-background-color:white;
$body-color:white;
$footer-bg-color: #dce7f1;
$siteinfo-bg-color:#dce7f1;

$font-color-body: black;
$font-color-1: #333333;
$font-color-2: white;
$font-color-3: white;

$font-color-title-1: #eeeeee;
$font-color-title-2: white;
$font-color-title-3: white;
$font-color-sub-title-1: white;
$font-color-sub-title-2: white;
$font-color-sub-title-3: white;

$font-color-a-1: white;
$font-color-a-2: white;
$font-color-ahover-1: white;
$font-color-ahover-2: white;
$font-color-aactive-1: white;
$font-color-aactive-2: white;




$font-name: 'Lato', sans-serif;
$font-name-two:'Pacifico', cursive;
$font-name-three:'';
$font-size-body: 15px;
$font-size-1: 15px;
$font-size-2: 10px;
$font-size-3: 10px;
$font-size-small: 15px;
$font-size-medium: 15px;
$font-size-large: 15px;
$font-size-title-1: 20px;
$font-size-title-2: 20px;
$font-size-title-3: 15px;
$font-size-title-4: 15px;
$font-size-title-5: 15px;
$font-size-title-6: 15px;
$font-size-title-content-1: 17px;
$font-size-title-content-2: 17px;
$font-size-title-content-3: 17px;
$font-size-title-content-4: 15px;
$font-size-title-content-5: 15px;
$font-size-title-content-6: 15px;



$primary-accent-color-1-rgba: rgba(255,255,255, 0.6);
$primary-accent-color-2-rgba: rgba(0,102,153,0.6);
$primary-accent-color-3-rgba: rgba(0,102,153,0.1);

$primary-accent-color-1: #f39200;
$primary-accent-color-2: #006666;
$primary-accent-color-3: white;

$footer-nav:#676767;

