@import "init";
@import "text";
@import "global/global_mixins";
@import "global/global_background_images";
@import "global/global_social_media";

body {
  background-color: $body-color;
  color: $font-color-body;
  font-size: $font-size-body;
	font-family: $font-name;
	font-weight:100;
}

h1, h2, h3, h4, h5, h6 {
  color:$font-color-1;
}


div h1 {
  font-size:  $font-size-title-1;
	font-family: $font-name;
}

div h2 {
  font-size: $font-size-title-2;
	font-family: $font-name;
}

div h3 {
  font-size: $font-size-title-3;
	font-family: $font-name;
}

div h4 {
  font-size: $font-size-title-4;
}

div h5 {
  font-size: $font-size-title-5;
}

div h6 {
  font-size: $font-size-title-6;
}


@import "layouts/html";

@import "components/header";
@import "components/menu";
@import "components/article";
@import "components/node";
@import "components/views";
@import "components/blocks";
@import "components/search_page";
@import "components/forms";
@import "components/notices";
@import "components/news";
@import "components/calendar";
@import "components/slider";
@import "components/footer";


.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}



#user-login-form{
	max-width: 600px;
	margin: 0 auto;
	padding-top: 30px;
}




#user-login-form .form-item label {
	width: 90px;
}

.bg-default-color {
  background-color: white;
}
/**
body{
  background-color: red;
}
//*/


