<div class="content-top">
    {{ content.top }}
</div>
<div class="max-desktop-width">
    {{ title_suffix.contextual_links }}
    <div class="col-md-12 nopadding">
        <div class="row">
            <div class="col-md-9 content">
                <div class="node-title">
                    {{ content.content_left.node_title }}
                    <span>{{ content.content_left.field_sub_title }}</span>
                </div>
                <article{{ attributes }}>

                    {% if content.content_left_4cols|render %}
                        <div class="col-md-4 nopadding">
                            {{ content.content_left_4cols }}
                        </div>
                        <div class="col-md-8">
                            {{ content.content_left_8cols }}
                        </div>
                    {% else %}
                        <div class="col-md-12 nopadding">
                            {{ content.content_left_8cols }}
                        </div>
                    {% endif %}
                </article>
                {{ content.content_left|without('field_sub_title','node_title','field_left_side_image','body') }}
            </div>
            {% if content.content_right %}
                <aside class="col-md-3">
                    {{ content.content_right }}
                </aside>
            {% endif %}
        </div>
    </div>
</div>
<aside class="col-md-12">
    {{ content.bottom }}
</aside>
