<div>
  <article{{ attributes }}>
    {{ title_suffix.contextual_links }}
    <div class="col-md-12 content">
        <div class="node-title">
           {{ content.content_top.node_title }}
           {% if content.content_top.field_sub_title|render|trim is not empty %}
              <span>{{content.content_top.field_sub_title}}</span>
            {% endif%}
        </div>
        {{content.content_top|without('field_sub_title','node_title') }}
    </div>
    <div class="row">
      <div class="col-md-8">
        {{ content.content_body }}
      </div>
      <div class="col-md-4">
        {{ content.content_right }}
      </div>
    </div>
  </article>
</div>
