<div class="content-top">
    {{ content.top }}
</div>
<div class="container-fluid">
    <article{{ attributes }}>
        {{ title_suffix.contextual_links }}
        <div class="col-md-12 nopadding">
            {{ content.content_top }}
            <div class="row">
                <div class="col-md-9 content">
                    <div class="node-title">
                        {{ content.content_left.node_title }}
                        <span>{{content.content_left.field_sub_title}}</span>
                    </div>
                    <div class="col-md-4 nopadding">
                        {{ content.content_left.field_left_side_image }}
                    </div>
                    <div class="col-md-8">
                        {{ content.content_left.body }}
                    </div>
                    {{ content.content_left|without('field_sub_title','node_title','field_left_side_image','body') }}
                </div>
                <div class="col-md-3 right-sidebar-30-60">
                    <aside>
                        {{ content.content_right }}
                    </aside>
                </div>
            </div>
        </div>
    </article>
</div>
<aside>
    {{ content.bottom }}
</aside>
