/* line 7, ../../sass/global/text.scss */
h2 {
  color: #006666;
  margin-bottom: 10px;
  padding-top: 20px;
  margin-top: 0;
  font-family: "Marcellus", serif;
}

/* line 15, ../../sass/global/text.scss */
.underline {
  border-bottom: 1px solid #9e9e9e;
  padding-bottom: 10px;
}

/* line 20, ../../sass/global/text.scss */
h3 {
  color: #009999;
  font-weight: 300;
}

/* line 25, ../../sass/global/text.scss */
.blue {
  color: #7faedc;
}

/* line 29, ../../sass/global/text.scss */
a {
  color: #7faedc;
}

/* line 33, ../../sass/global/text.scss */
ul.plain {
  margin: 0;
  padding: 0;
  list-style: none;
}
