@charset "UTF-8";
/* line 22, ../sass/text.scss */
ul.plain {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
 * Global mixins
 */
/* line 116, ../sass/global/_global_mixins.scss */
.p-none-left {
  padding-left: 0 !important;
}

/* line 116, ../sass/global/_global_mixins.scss */
.p-none-right {
  padding-right: 0 !important;
}

/* line 116, ../sass/global/_global_mixins.scss */
.p-none-top {
  padding-top: 0 !important;
}

/* line 116, ../sass/global/_global_mixins.scss */
.p-none-bottom {
  padding-bottom: 0 !important;
}

/* line 112, ../sass/global/_global_mixins.scss */
.p-none {
  padding: 0 !important;
}

/**
 * hide block on mobile
 */
@media only screen and (max-width: 348px) {
  /* line 152, ../sass/global/_global_mixins.scss */
  .hide-on-phone-small {
    display: none !important;
  }
}
@media only screen and (max-width: 398px) {
  /* line 152, ../sass/global/_global_mixins.scss */
  .hide-on-phone {
    display: none !important;
  }
}
@media only screen and (max-width: 478px) {
  /* line 152, ../sass/global/_global_mixins.scss */
  .hide-on-phone-wide {
    display: none !important;
  }
}
@media only screen and (max-width: 558px) {
  /* line 152, ../sass/global/_global_mixins.scss */
  .hide-on-phablet {
    display: none !important;
  }
}
@media only screen and (max-width: 638px) {
  /* line 152, ../sass/global/_global_mixins.scss */
  .hide-on-tablet-small {
    display: none !important;
  }
}
@media only screen and (max-width: 766px) {
  /* line 152, ../sass/global/_global_mixins.scss */
  .hide-on-tablet {
    display: none !important;
  }
}
@media only screen and (max-width: 1022px) {
  /* line 152, ../sass/global/_global_mixins.scss */
  .hide-on-tablet-wide {
    display: none !important;
  }
}
@media only screen and (max-width: 1199px) {
  /* line 152, ../sass/global/_global_mixins.scss */
  .hide-on-desktop {
    display: none !important;
  }
}
@media only screen and (max-width: 1438px) {
  /* line 152, ../sass/global/_global_mixins.scss */
  .hide-on-desktop-wide {
    display: none !important;
  }
}
/**
 * remove padding from div on mobile only
 */
@media only screen and (max-width: 766px) {
  /* line 181, ../sass/global/_global_mixins.scss */
  .p-mob-none-left {
    padding-left: 0 !important;
  }
}
@media only screen and (max-width: 766px) {
  /* line 181, ../sass/global/_global_mixins.scss */
  .p-mob-none-right {
    padding-right: 0 !important;
  }
}
@media only screen and (max-width: 766px) {
  /* line 181, ../sass/global/_global_mixins.scss */
  .p-mob-none-top {
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 766px) {
  /* line 181, ../sass/global/_global_mixins.scss */
  .p-mob-none-bottom {
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-width: 766px) {
  /* line 177, ../sass/global/_global_mixins.scss */
  .p-mob-none {
    padding: 0 !important;
  }
}
/* line 1, ../sass/global/_global_background_images.scss */
.header {
  background: url(../images/bg-header.jpeg) top center no-repeat;
  background-size: cover;
}

/*
	#menu-wrapper{
		clear: both;
		height:30px;
		background:  url(../images/bg-menu.jpeg)   top center no-repeat;
		background-size: cover;
  }
  */
/* line 15, ../sass/global/_global_background_images.scss */
#block-contactmap,
.content-top {
  background: url(../images/bg-top-content.jpeg) top center no-repeat;
  background-size: cover;
}

/* line 21, ../sass/global/_global_background_images.scss */
.content-body {
  background: url(../images/bg-content.jpeg) top center no-repeat;
  background-size: cover;
}

/* line 26, ../sass/global/_global_background_images.scss */
.path-calendar .main-wrapper {
  background: url(../images/bg-calendar.jpeg) top center no-repeat;
  background-size: cover;
}

/*
footer {
  background: url(../images/bg-footer.jpeg) top center no-repeat;
  background-size: cover;
}
*/
/* line 40, ../sass/global/_global_background_images.scss */
#site-info {
  background: url(../images/bg-site-info.jpeg) top center no-repeat;
  background-size: cover;
}

/* line 1, ../sass/global/_global_social_media.scss */
div#header-social ul {
  float: right;
  padding: 0;
}

/* line 7, ../sass/global/_global_social_media.scss */
div#header-social ul li {
  display: inline;
}
/* line 9, ../sass/global/_global_social_media.scss */
div#header-social ul li a span {
  margin-left: 7px;
}

/* line 15, ../sass/global/_global_social_media.scss */
div#header-social ul li .youtube {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  background: url(../images/youtube.png) top center no-repeat;
  background-size: cover;
}

/* line 23, ../sass/global/_global_social_media.scss */
div#header-social ul li .facebook {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  background: url(../images/facebook.png) top center no-repeat;
  background-size: cover;
}

/* line 34, ../sass/global/_global_social_media.scss */
#header-call h2 {
  margin-right: 15px;
  color: white;
  text-indent: -99999px;
}
/* line 39, ../sass/global/_global_social_media.scss */
#header-call h2::before {
  content: "";
  display: block;
  float: right;
  width: 295px;
  height: 26px;
  background: url(../images/bg-site-description.png) top center no-repeat;
  background-size: cover;
}

/* line 7, ../sass/styles.scss */
body {
  background-color: white;
  color: black;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

/* line 15, ../sass/styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

/* line 20, ../sass/styles.scss */
div h1 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

/* line 25, ../sass/styles.scss */
div h2 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

/* line 30, ../sass/styles.scss */
div h3 {
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

/* line 35, ../sass/styles.scss */
div h4 {
  font-size: 15px;
}

/* line 39, ../sass/styles.scss */
div h5 {
  font-size: 15px;
}

/* line 43, ../sass/styles.scss */
div h6 {
  font-size: 15px;
}

/* line 1, ../sass/layouts/_html.scss */
#block-contactmap iframe,
.max-width {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 9, ../sass/layouts/_html.scss */
#block-contactmap iframe {
  height: 440px;
}

/* line 12, ../sass/layouts/_html.scss */
.main-wrapper {
  clear: both;
}

/* line 17, ../sass/layouts/_html.scss */
#block-mainpagecontent > h2 {
  display: none;
}

/* line 22, ../sass/layouts/_html.scss */
.content-top {
  clear: both;
}
/* line 24, ../sass/layouts/_html.scss */
.content-top #slick-blk-wrapper {
  background: white;
}

/* line 2, ../sass/components/_header.scss */
.header {
  color: #333333;
  font-size: 12px;
}
/* line 5, ../sass/components/_header.scss */
.header div#block-gtranslate,
.header div#block-mainemail,
.header div#block-mainphonenumber {
  color: grey;
}
/* line 11, ../sass/components/_header.scss */
.header div#block-gtranslate select,
.header div#block-mainemail select,
.header div#block-mainphonenumber select {
  color: white;
  background-color: grey;
}
/* line 20, ../sass/components/_header.scss */
.header div#block-gtranslate,
.header div#block-mainemail,
.header div#block-mainphonenumber {
  color: white;
  margin-top: 24px;
}
/* line 27, ../sass/components/_header.scss */
.header div#block-gtranslate select,
.header div#block-mainemail select,
.header div#block-mainphonenumber select {
  color: white;
  background-color: grey;
}
/* line 42, ../sass/components/_header.scss */
.header .site-logo img {
  max-width: 90%;
}
/* line 47, ../sass/components/_header.scss */
.header #block-mainemail,
.header #block-mainphonenumber {
  padding-right: 9px;
}
/* line 50, ../sass/components/_header.scss */
.header #block-mainemail span::before,
.header #block-mainphonenumber span::before {
  display: block;
  float: left;
  content: "P: ";
  padding-right: 5px;
}
/* line 59, ../sass/components/_header.scss */
.header #block-mainemail span::before {
  content: "E: ";
}
/* line 67, ../sass/components/_header.scss */
.header select {
  color: #333333;
  border: 0;
  background-color: inherit;
}
/* line 72, ../sass/components/_header.scss */
.header select option[value=''] {
  background-color: inherit;
}

/* line 81, ../sass/components/_header.scss */
.custom-content-top h2 {
  font-size: 35px;
}

/* line 91, ../sass/components/_header.scss */
.header {
  padding-top: 10px;
}
/* line 95, ../sass/components/_header.scss */
.header #block-southerngrove-sitebranding img {
  margin-top: -10px;
  margin-bottom: 5px;
}
/* line 100, ../sass/components/_header.scss */
.header #block-headercalltoaction {
  padding-top: 44px;
  float: left;
  display: none;
}

@media only screen and (min-width: 767px) {
  /* line 111, ../sass/components/_header.scss */
  .header #block-headercalltoaction {
    display: block;
  }
  /* line 115, ../sass/components/_header.scss */
  .header #block-southerngrove-sitebranding img {
    margin-left: -65px;
    max-width: 444px;
    min-height: 115px;
  }
}
/* line 4, ../sass/components/_menu.scss */
#menu-wrapper .region-primary-menu .block-menu.navigation {
  display: none;
}
/* line 7, ../sass/components/_menu.scss */
#menu-wrapper .region-primary-menu #block-responsivemenumobileicon {
  display: block;
}
/* line 9, ../sass/components/_menu.scss */
#menu-wrapper .region-primary-menu #block-responsivemenumobileicon .responsive-menu-toggle-icon:before,
#menu-wrapper .region-primary-menu #block-responsivemenumobileicon .responsive-menu-toggle-icon:after,
#menu-wrapper .region-primary-menu #block-responsivemenumobileicon .icon {
  background-color: black;
}

@media only screen and (min-width: 767px) {
  /* line 19, ../sass/components/_menu.scss */
  #menu-wrapper .region-primary-menu .block-menu.navigation {
    display: inherit;
  }
  /* line 22, ../sass/components/_menu.scss */
  #menu-wrapper .region-primary-menu #block-responsivemenumobileicon {
    display: none;
  }
}
/* line 29, ../sass/components/_menu.scss */
#menu-wrapper {
  background-color: white;
  float: left;
  width: 100%;
}
/* line 33, ../sass/components/_menu.scss */
#menu-wrapper .navbar-default {
  background-color: white;
}
/* line 37, ../sass/components/_menu.scss */
#menu-wrapper .navbar-default .navbar-nav > li > a {
  color: gray;
}
/* line 41, ../sass/components/_menu.scss */
#menu-wrapper .navbar-default .navbar-nav > .active > a {
  background-color: #ccc;
}

/* line 46, ../sass/components/_menu.scss */
.block-menu.navigation {
  float: left;
}

/* line 50, ../sass/components/_menu.scss */
#mobile-navigation .icon-bar {
  background-color: #333333;
}

/* line 55, ../sass/components/_menu.scss */
.region-primary-menu a {
  font-family: 'Kanit', sans-serif;
  font-weight: 500 !important;
}
/* line 60, ../sass/components/_menu.scss */
.region-primary-menu nav > ul {
  font-size: 11px;
  text-transform: uppercase;
}
/* line 65, ../sass/components/_menu.scss */
.region-primary-menu nav ul li > a:active,
.region-primary-menu nav ul li > a:focus,
.region-primary-menu nav ul li > a:hover,
.region-primary-menu nav ul li > a {
  font-weight: 600;
  color: white;
}
/* line 73, ../sass/components/_menu.scss */
.region-primary-menu nav > ul li a:active,
.region-primary-menu nav > ul li a:focus,
.region-primary-menu nav > ul li a:hover {
  background-color: inherit;
}
/* line 81, ../sass/components/_menu.scss */
.region-primary-menu nav > ul {
  font-size: 11px;
  text-transform: uppercase;
}
/* line 86, ../sass/components/_menu.scss */
.region-primary-menu nav ul li > ul a:active,
.region-primary-menu nav ul li > ul a:focus,
.region-primary-menu nav ul li > ul a:hover,
.region-primary-menu nav ul li > ul a {
  font-weight: 600;
  color: white;
}
/* line 94, ../sass/components/_menu.scss */
.region-primary-menu nav > ul li a:active,
.region-primary-menu nav > ul li a:focus,
.region-primary-menu nav > ul li a:hover {
  background-color: inherit;
}
@media only screen and (min-width: 767px) {
  /* line 106, ../sass/components/_menu.scss */
  .region-primary-menu nav > ul > li:after {
    content: "|";
    padding: 3px 0 0 0;
    color: #006666;
    margin-top: 6px;
    display: block;
    float: left;
  }
  /* line 115, ../sass/components/_menu.scss */
  .region-primary-menu nav > ul li:last-child:after {
    content: " ";
    padding: 0;
  }
  /* line 122, ../sass/components/_menu.scss */
  .region-primary-menu li > a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  /* line 126, ../sass/components/_menu.scss */
  .region-primary-menu a {
    font-size: 13px;
    text-transform: uppercase;
  }
  /* line 132, ../sass/components/_menu.scss */
  .region-primary-menu a:hover {
    background-color: inherit;
  }
}
/* line 136, ../sass/components/_menu.scss */
.region-primary-menu nav ul .dropdown-menu,
.region-primary-menu nav .dropdown-menu > .active > a {
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 140, ../sass/components/_menu.scss */
.region-primary-menu nav ul .dropdown-menu {
  padding: 0;
}
/* line 142, ../sass/components/_menu.scss */
.region-primary-menu nav ul .dropdown-menu a {
  color: white;
}
/* line 145, ../sass/components/_menu.scss */
.region-primary-menu nav ul .dropdown-menu > li:after {
  content: "";
  background-image: linear-gradient(to right, white, white 25%, transparent);
  height: 2px;
  display: block;
}
/* line 153, ../sass/components/_menu.scss */
.region-primary-menu nav ul .dropdown-menu li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 156, ../sass/components/_menu.scss */
.region-primary-menu nav ul li ul li a {
  min-width: 230px;
}

/* line 163, ../sass/components/_menu.scss */
.region-primary-menu > .no-padding-left {
  padding-left: 0px;
}

/**
* Update to menu color
*/
/* line 172, ../sass/components/_menu.scss */
#menu-wrapper .navbar-default .navbar-nav > .active > a {
  background-color: white;
  border-bottom: 5px solid #f39200;
  text-decoration: none;
}

/* line 185, ../sass/components/_menu.scss */
#menu-wrapper .navbar-default .navbar-nav > li > a {
  color: #333333;
}

/* line 189, ../sass/components/_menu.scss */
div.region-primary-menu .navbar-form {
  margin-top: 3px;
  margin-right: -30px;
  margin-bottom: 5px;
}

/* line 1, ../sass/components/_article.scss */
article h1 {
  font-size: 17px;
  color: #f39200;
  font-weight: bold;
}

/* line 7, ../sass/components/_article.scss */
article h2 {
  font-size: 17px;
  color: #006666;
  font-weight: bold;
  font-style: italic;
}

/* line 14, ../sass/components/_article.scss */
article h3 {
  font-size: 17px;
  color: #f39200;
}

/* line 19, ../sass/components/_article.scss */
article h4 {
  font-size: 15px;
  color: #f39200;
}

/* line 24, ../sass/components/_article.scss */
article h5 {
  font-size: 15px;
  color: #f39200;
}

/* line 29, ../sass/components/_article.scss */
article h6 {
  font-size: 15px;
  color: #f39200;
}

/* line 35, ../sass/components/_article.scss */
article .content-title h2 {
  color: #333333;
  font-size: 35px;
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: 1px solid #f39200;
}
/* line 42, ../sass/components/_article.scss */
article h1, article h2, article h3, article h4, article h5, article h6 {
  font-size: 17px;
  font-weight: 600;
}

/* line 1, ../sass/components/_node.scss */
.custom-layout-sidebar-right {
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

/* line 9, ../sass/components/_node.scss */
.custom-layout-sidebar-right .field--name-field-images .field__item img {
  margin-top: 15px;
}

/* line 16, ../sass/components/_node.scss */
.main-wrapper article {
  width: 100%;
  margin: 0 auto;
  display: table;
  background-color: white;
  color: black;
  min-height: 100%;
}

@media only screen and (min-width: 1200px) {
  /* line 31, ../sass/components/_node.scss */
  .path-frontpage article .col-md-9 {
    width: 72%;
  }
  /* line 34, ../sass/components/_node.scss */
  .path-frontpage article .col-md-9 .custom-content-top h2 {
    margin-top: -20px;
  }
  /* line 39, ../sass/components/_node.scss */
  .path-frontpage article .col-md-3 {
    width: 26%;
    padding: 0;
    margin-right: 0;
    margin-left: 23px;
  }
}

/* line 1, ../sass/components/_blocks.scss */
div#block-gtranslate,
div#block-mainemail,
div#block-mainphonenumber {
  float: right;
  margin-right: 10px;
}

/* line 9, ../sass/components/_blocks.scss */
div#block-gtranslate {
  margin-top: -2px;
}

/* line 13, ../sass/components/_blocks.scss */
div#block-mainemail {
  padding-right: 4px;
}

/* line 18, ../sass/components/_blocks.scss */
#block-mainphonenumber span::after {
  content: "|";
  margin-left: 17px;
}

/* line 24, ../sass/components/_blocks.scss */
div.region-primary-menu div.search-block-form {
  padding-right: 15px;
}

/* line 29, ../sass/components/_blocks.scss */
#block-headinformation {
  float: right;
  clear: right;
  color: white;
  padding-top: 20px;
  padding-bottom: 5px;
}

/* line 37, ../sass/components/_blocks.scss */
#block-allwebsitedetailsinline {
  float: left;
  padding: 5px;
  font-size: 13px;
}
/* line 41, ../sass/components/_blocks.scss */
#block-allwebsitedetailsinline .name {
  font-weight: 600;
  font-size: 16px;
}
/* line 45, ../sass/components/_blocks.scss */
#block-allwebsitedetailsinline .address,
#block-allwebsitedetailsinline .suburb,
#block-allwebsitedetailsinline .state,
#block-allwebsitedetailsinline .postcode,
#block-allwebsitedetailsinline .email,
#block-allwebsitedetailsinline .phone {
  text-transform: uppercase;
}

@media only screen and (min-width: 767px) {
  /* line 56, ../sass/components/_blocks.scss */
  #block-allwebsitedetailsinline {
    padding: 20px 50px 0 15px;
  }
}
/* line 61, ../sass/components/_blocks.scss */
#block-copyrightblock {
  float: left;
  width: 100%;
  padding-top: 5px;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 67, ../sass/components/_blocks.scss */
#block-copyrightblock .col-md-6 {
  width: 100%;
}
/* line 70, ../sass/components/_blocks.scss */
#block-copyrightblock a {
  font-size: 13px;
  text-transform: uppercase;
}

@media only screen and (min-width: 1023px) {
  /* line 77, ../sass/components/_blocks.scss */
  #block-copyrightblock {
    float: right;
    width: 441px;
    padding-top: 25px;
  }
  /* line 81, ../sass/components/_blocks.scss */
  #block-copyrightblock .col-md-6 {
    width: 100%;
  }
}
/* line 87, ../sass/components/_blocks.scss */
#block-ourlinkblock {
  padding-top: 20px;
  padding-bottom: 10px;
}
/* line 90, ../sass/components/_blocks.scss */
#block-ourlinkblock #site-info a {
  color: #ccc;
}
/* line 93, ../sass/components/_blocks.scss */
#block-ourlinkblock .col-md-6 {
  width: 100%;
}

@media only screen and (min-width: 1023px) {
  /* line 99, ../sass/components/_blocks.scss */
  #block-ourlinkblock {
    float: right;
    padding-top: 60px;
  }
}
/* line 109, ../sass/components/_blocks.scss */
.noticeboard .underline {
  color: #006666;
}

/* line 114, ../sass/components/_blocks.scss */
.block-views-blocknoticeboard-blk-notices-list .views-row,
.block-views-blocknoticeboard-blk-notices-list > h2 {
  border-bottom: 1px solid #f39200;
}

/* line 119, ../sass/components/_blocks.scss */
.block-views-blocknoticeboard-blk-notices-list > h2 {
  font-size: 32px;
  font-weight: normal;
  font-family: "Pacifico", cursive;
  color: #006666;
}

/* line 127, ../sass/components/_blocks.scss */
.block-views-blocknoticeboard-blk-notices-list .views-row:last-child {
  border-bottom: none;
}

/* line 136, ../sass/components/_blocks.scss */
.page-node-1 .tcclrtt-content article > .col-md-4 {
  background-color: #f1f2f2;
}

/* line 143, ../sass/components/_blocks.scss */
.block-views-blocknoticeboard-blk-notices-list > h2 {
  padding-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
}

/* line 153, ../sass/components/_blocks.scss */
.block-block-contenta2efe592-1dcd-462b-a5f3-05461e05c6bb .image-block,
.block-block-contentcfdf17ab-2f5c-49d8-9377-0c2c8ce4df6e .image-block,
.block-block-content9a2e1abc-087a-4154-bdd6-b70d4779b2fc .image-block {
  margin-bottom: 0;
  margin-top: 0;
}
/* line 157, ../sass/components/_blocks.scss */
.block-block-contenta2efe592-1dcd-462b-a5f3-05461e05c6bb h2,
.block-block-contentcfdf17ab-2f5c-49d8-9377-0c2c8ce4df6e h2,
.block-block-content9a2e1abc-087a-4154-bdd6-b70d4779b2fc h2 {
  display: none;
}
/* line 160, ../sass/components/_blocks.scss */
.block-block-contenta2efe592-1dcd-462b-a5f3-05461e05c6bb h3,
.block-block-contentcfdf17ab-2f5c-49d8-9377-0c2c8ce4df6e h3,
.block-block-content9a2e1abc-087a-4154-bdd6-b70d4779b2fc h3 {
  margin: 10px 0;
  font-size: 17px;
  color: #006666;
  font-weight: bold;
}

/* line 1, ../sass/components/_search_page.scss */
.path-search {
  color: black;
}
/* line 5, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent {
  max-width: 1200px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
  background-color: white;
}
/* line 10, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent a {
  color: #4a4a4a;
  font-weight: bold;
}
/* line 16, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent input[type=search] {
  max-width: 300px;
}
/* line 19, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent #search-form {
  padding-top: 25px;
}
/* line 23, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent #search-form a {
  width: 100%;
  display: block;
  clear: both;
  padding-top: 10px;
}
/* line 29, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent #search-form .form-item label {
  width: 100%;
  float: left;
}
/* line 36, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent #search-form-content {
  padding-bottom: 50px;
}
/* line 37, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent #search-form-content ol {
  padding-left: 16px;
}
/* line 46, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent h2 {
  clear: both;
  padding-top: 25px;
}
/* line 52, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent #search-form input {
  color: black;
  float: left;
}
/* line 56, ../sass/components/_search_page.scss */
.path-search #block-mainpagecontent #search-form #edit-submit {
  margin-left: 0px;
  margin-top: 10px;
}

/* line 69, ../sass/components/_search_page.scss */
.region-primary-menu .search-block-form {
  padding-right: 0;
  display: none;
}
/* line 72, ../sass/components/_search_page.scss */
.region-primary-menu .search-block-form .form-item, .region-primary-menu .search-block-form .form-actions {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 77, ../sass/components/_search_page.scss */
.region-primary-menu form input[type=search] {
  color: black;
  background-color: #f39200;
  font-size: 13px;
  text-indent: 10px;
  margin: 0;
  padding: 0;
}
/* line 91, ../sass/global/_global_mixins.scss */
.region-primary-menu form input[type=search].placeholder {
  color: #333333;
  background-color: #f39200;
}
/* line 92, ../sass/global/_global_mixins.scss */
.region-primary-menu form input[type=search]:-moz-placeholder {
  color: #333333;
  background-color: #f39200;
}
/* line 93, ../sass/global/_global_mixins.scss */
.region-primary-menu form input[type=search]::-moz-placeholder {
  color: #333333;
  background-color: #f39200;
}
/* line 94, ../sass/global/_global_mixins.scss */
.region-primary-menu form input[type=search]:-ms-input-placeholder {
  color: #333333;
  background-color: #f39200;
}
/* line 95, ../sass/global/_global_mixins.scss */
.region-primary-menu form input[type=search]::-webkit-input-placeholder {
  color: #333333;
  background-color: #f39200;
}
/* line 90, ../sass/components/_search_page.scss */
.region-primary-menu .form-submit {
  display: none;
}

@media only screen and (min-width: 767px) {
  /* line 98, ../sass/components/_search_page.scss */
  .region-primary-menu .search-block-form {
    display: block;
  }
}
/* line 2, ../sass/components/_forms.scss */
.contact-message-contact-form .form-item input, .contact-message-contact-form .form-item textarea {
  border: none;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  padding: 3px 5px;
  box-sizing: content-box;
  display: table-cell;
  width: 75%;
  float: right;
  padding-right: 0px;
}
/* line 15, ../sass/components/_forms.scss */
.contact-message-contact-form .form-item label {
  display: inherit;
  float: left;
}
/* line 21, ../sass/components/_forms.scss */
.contact-message-contact-form #edit-mail label,
.contact-message-contact-form .form-type-email label {
  text-indent: -9999px;
  visibility: hidden;
}
/* line 25, ../sass/components/_forms.scss */
.contact-message-contact-form #edit-mail label::before,
.contact-message-contact-form .form-type-email label::before {
  content: "Email";
  text-indent: 0;
  display: block;
  visibility: visible;
  line-height: initial;
}
/* line 34, ../sass/components/_forms.scss */
.contact-message-contact-form .form-item textarea {
  width: 75%;
}
/* line 37, ../sass/components/_forms.scss */
.contact-message-contact-form #edit-submit {
  width: 76%;
  color: #f39200;
  float: right;
  border: none;
  background-color: #39404a;
  font-weight: bold;
  padding: 5px 0 5px 0;
  margin-bottom: 47px;
}

/* line 50, ../sass/components/_forms.scss */
.contact-message-contact-form .form-item label {
  display: block;
  float: left;
  height: 10px;
}

/* line 3, ../sass/components/_notices.scss */
#block-views-blocknoticeboard-block-1 > h2 {
  display: block;
  margin-top: 5px;
  padding-bottom: 8px;
}
/* line 9, ../sass/components/_notices.scss */
#block-views-blocknoticeboard-block-1 .underline {
  margin-top: 0;
  font-weight: bolder;
  float: left;
}
/* line 14, ../sass/components/_notices.scss */
#block-views-blocknoticeboard-block-1 .field--name-node-changed-date {
  font-style: italic;
  float: left;
  padding-left: 7px;
}
/* line 19, ../sass/components/_notices.scss */
#block-views-blocknoticeboard-block-1 .field--type-text-with-summary {
  clear: both;
}

/* line 25, ../sass/components/_notices.scss */
div#block-views-blocknoticeboard-block-1 {
  margin-top: 8px;
  padding: 15px;
  background-color: #c6d9eb;
}
/* line 29, ../sass/components/_notices.scss */
div#block-views-blocknoticeboard-block-1 > h2 {
  font-style: italic;
  border-bottom: 1px solid #7b7f84;
}
/* line 33, ../sass/components/_notices.scss */
div#block-views-blocknoticeboard-block-1 .views-row {
  font-size: 12px;
  color: #7b7f84;
}
/* line 36, ../sass/components/_notices.scss */
div#block-views-blocknoticeboard-block-1 .views-row h2 {
  font-size: 13px;
  font-style: italic;
}
/* line 40, ../sass/components/_notices.scss */
div#block-views-blocknoticeboard-block-1 .views-row h2::after {
  content: "•";
  padding: 0 0 0 0;
  margin-top: 0;
}
/* line 45, ../sass/components/_notices.scss */
div#block-views-blocknoticeboard-block-1 .views-row a {
  font-size: 12px;
  color: #7b7f84;
}
/* line 49, ../sass/components/_notices.scss */
div#block-views-blocknoticeboard-block-1 .views-row .field--name-node-link {
  padding-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid  #7b7f84;
  margin-bottom: 15px;
}

/* line 1, ../sass/components/_news.scss */
.view-news {
  padding-bottom: 20px;
}
/* line 2, ../sass/components/_news.scss */
.view-news .views-row {
  clear: both;
  min-height: 110px;
}
/* line 5, ../sass/components/_news.scss */
.view-news .views-row .link a {
  color: #7b7f84;
}
/* line 9, ../sass/components/_news.scss */
.view-news .view-footer {
  display: none;
}

/* line 3, ../sass/components/_calendar.scss */
.views-field-field-event-date h2 {
  border-bottom: 1px solid #f8ab70;
}

/* line 8, ../sass/components/_calendar.scss */
#block-views-block-events-list-blk-events-list {
  color: black;
}

/* line 12, ../sass/components/_calendar.scss */
.path-calendar #block-views-block-events-list-blk-events-list {
  padding: 17px;
  clear: both;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

/* line 23, ../sass/components/_calendar.scss */
.path-calendar .main th {
  font-weight: bolder;
}
/* line 33, ../sass/components/_calendar.scss */
.path-calendar .main .calendar-calendar .month-view .full tr td.today, .path-calendar .main .calendar-calendar .month-view .full tr.odd td.today, .path-calendar .main .calendar-calendar .month-view .full tr.even td.today {
  background: none;
}
/* line 40, ../sass/components/_calendar.scss */
.path-calendar .main .calendar-calendar td .inner .calendar {
  background: #e7e7e7 !important;
  padding: 8px;
  border-radius: 15px;
}
/* line 48, ../sass/components/_calendar.scss */
.path-calendar .main .path-calendar .main .calendar-calendar td .inner div.calendar div, .path-calendar .main .path-calendar .main .calendar-calendar td .inner div.calendar div a {
  border: none;
  background: #e7e7e7 !important;
  padding: 0;
}
/* line 53, ../sass/components/_calendar.scss */
.path-calendar .main .calendar-calendar td .inner div.calendar div, .path-calendar .main .calendar-calendar td .inner div.calendar div a {
  border: none;
  background: #e7e7e7 !important;
  padding: 0;
}

/* line 5, ../sass/components/_slider.scss */
.path-frontpage #slick-blk-wrapper {
  float: left;
  width: 96%;
  padding: 0;
  margin-left: 15px;
}
@media only screen and (min-width: 767px) {
  /* line 5, ../sass/components/_slider.scss */
  .path-frontpage #slick-blk-wrapper {
    width: 850px;
  }
}
/* line 15, ../sass/components/_slider.scss */
.path-frontpage .field--name-field-feature-blocks {
  display: none;
  margin-right: 15px;
}
@media only screen and (min-width: 1200px) {
  /* line 15, ../sass/components/_slider.scss */
  .path-frontpage .field--name-field-feature-blocks {
    display: block;
  }
}
/* line 21, ../sass/components/_slider.scss */
.path-frontpage .field--name-field-feature-blocks .field__item {
  position: relative;
}
/* line 23, ../sass/components/_slider.scss */
.path-frontpage .field--name-field-feature-blocks .field__item div {
  position: relative;
}
/* line 25, ../sass/components/_slider.scss */
.path-frontpage .field--name-field-feature-blocks .field__item div h2 {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 16px;
  color: #82abd5;
  font-style: italic;
  font-weight: bold;
}
/* line 38, ../sass/components/_slider.scss */
.path-frontpage .field--name-field-feature-blocks .field__item div a {
  padding: 0;
  margin: 0;
  display: block;
  padding-bottom: 22px;
}
/* line 47, ../sass/components/_slider.scss */
.path-frontpage .field--name-field-feature-blocks .image-block {
  margin-bottom: 11px;
  margin-top: 0;
}

/* line 4, ../sass/components/_footer.scss */
#site-info {
  width: 100%;
  float: left;
  color: white;
  min-height: 90px;
}
/* line 9, ../sass/components/_footer.scss */
#site-info a {
  color: white;
}

/* line 20, ../sass/components/_footer.scss */
footer {
  padding-top: 10px;
}
/* line 22, ../sass/components/_footer.scss */
footer #block-allwebsitedetails {
  width: 100%;
  float: left;
}
@media only screen and (min-width: 767px) {
  /* line 22, ../sass/components/_footer.scss */
  footer #block-allwebsitedetails {
    float: right;
    padding-right: 15px;
    width: 29%;
  }
}
/* line 30, ../sass/components/_footer.scss */
footer #block-allwebsitedetails h2 {
  font-size: 17px;
  padding-top: 3px;
  padding-bottom: 5px;
}
/* line 37, ../sass/components/_footer.scss */
footer .site-reserved {
  display: none;
}
/* line 40, ../sass/components/_footer.scss */
footer .site-copy-right {
  display: inline;
}
/* line 44, ../sass/components/_footer.scss */
footer #block-facebook {
  float: left;
}

/* line 65, ../sass/styles.scss */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 70, ../sass/styles.scss */
.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

/* line 75, ../sass/styles.scss */
.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

/* line 82, ../sass/styles.scss */
#user-login-form {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}

/* line 91, ../sass/styles.scss */
#user-login-form .form-item label {
  width: 90px;
}

/* line 95, ../sass/styles.scss */
.bg-default-color {
  background-color: white;
}

/**
body{
  background-color: red;
}
//*/
