.page-node-type-people{
  .layout--onecol{
    display: table;
  }
  .layout__region--content {
    > span,
    > h1 {
      display: block;
      float:left;
      margin-top: 30px;
      margin-bottom: 0;
    }

    > h1 {
      font-weight: 700;
      font-size: 20px;

    }
    > span{
      margin-top: 35px;
    }

    .field--type-text-with-summary{
      padding-top: 20px;
      float: left;
      width:100%;
      margin-top: 10px;
    }

    .field--name-field-people {
      padding-top: 20px;
      float: left;
    }

    .paragraph--type--people {
      padding-left:0;
      .field--type-image{
      min-height: 200px;
    }
    }
  }
  }

  @include mobile-break-points('phablet', "min") {
    .page-node-type-people{
      .layout__region--content {
        .paragraph--type--people {
          padding-left:0;
          min-height: 240px;

          > div {
            float: left;
          }
          .field--name-field-name,
          .field--type-text-long{
            padding-left:20px;
          }
          .field--type-text-long{
            width: 60%;

          }
        }
      }
    }
  }

@include mobile-break-points('tablet', "min") {
  .page-node-type-people{
    .field--name-field-people {
      padding-top: 60px;
    }

    .paragraph--type--people{


    }
  }
}