@charset "UTF-8";
/* line 1, ../sass/global/_reset.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 6, ../sass/global/_reset.scss */
.content-top {
  position: relative;
}

/*
 * Global mixins
 */
/* line 116, ../sass/global/_global-mixins.scss */
.p-none-left {
  padding-left: 0 !important;
}

/* line 116, ../sass/global/_global-mixins.scss */
.p-none-right {
  padding-right: 0 !important;
}

/* line 116, ../sass/global/_global-mixins.scss */
.p-none-top {
  padding-top: 0 !important;
}

/* line 116, ../sass/global/_global-mixins.scss */
.p-none-bottom {
  padding-bottom: 0 !important;
}

/* line 112, ../sass/global/_global-mixins.scss */
.p-none {
  padding: 0 !important;
}

/**
 * hide block on mobile
 */
@media only screen and (max-width: 348px) {
  /* line 152, ../sass/global/_global-mixins.scss */
  .hide-on-phone-small {
    display: none !important;
  }
}
@media only screen and (max-width: 398px) {
  /* line 152, ../sass/global/_global-mixins.scss */
  .hide-on-phone {
    display: none !important;
  }
}
@media only screen and (max-width: 478px) {
  /* line 152, ../sass/global/_global-mixins.scss */
  .hide-on-phone-wide {
    display: none !important;
  }
}
@media only screen and (max-width: 558px) {
  /* line 152, ../sass/global/_global-mixins.scss */
  .hide-on-phablet {
    display: none !important;
  }
}
@media only screen and (max-width: 638px) {
  /* line 152, ../sass/global/_global-mixins.scss */
  .hide-on-tablet-small {
    display: none !important;
  }
}
@media only screen and (max-width: 766px) {
  /* line 152, ../sass/global/_global-mixins.scss */
  .hide-on-tablet {
    display: none !important;
  }
}
@media only screen and (max-width: 1022px) {
  /* line 152, ../sass/global/_global-mixins.scss */
  .hide-on-tablet-wide {
    display: none !important;
  }
}
@media only screen and (max-width: 1199px) {
  /* line 152, ../sass/global/_global-mixins.scss */
  .hide-on-desktop {
    display: none !important;
  }
}
@media only screen and (max-width: 1438px) {
  /* line 152, ../sass/global/_global-mixins.scss */
  .hide-on-desktop-wide {
    display: none !important;
  }
}
/**
 * remove padding from div on mobile only
 */
@media only screen and (max-width: 766px) {
  /* line 181, ../sass/global/_global-mixins.scss */
  .p-mob-none-left {
    padding-left: 0 !important;
  }
}
@media only screen and (max-width: 766px) {
  /* line 181, ../sass/global/_global-mixins.scss */
  .p-mob-none-right {
    padding-right: 0 !important;
  }
}
@media only screen and (max-width: 766px) {
  /* line 181, ../sass/global/_global-mixins.scss */
  .p-mob-none-top {
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 766px) {
  /* line 181, ../sass/global/_global-mixins.scss */
  .p-mob-none-bottom {
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-width: 766px) {
  /* line 177, ../sass/global/_global-mixins.scss */
  .p-mob-none {
    padding: 0 !important;
  }
}
/* line 1, ../sass/global/_global.scss */
.padded-layout {
  padding: 0 15px;
}

/* line 6, ../sass/global/_global.scss */
.form-item:after {
  display: table;
  content: " ";
  clear: both;
}

/* line 1, ../sass/components/_header.scss */
header {
  padding: 0  5px 0 5px;
}
/* line 4, ../sass/components/_header.scss */
header .site-logo {
  float: left;
  display: block;
}
/* line 9, ../sass/components/_header.scss */
header .site-name a {
  display: block;
  text-indent: -9999px;
}

@media only screen and (min-width: 767px) {
  /* line 22, ../sass/components/_header.scss */
  header {
    padding: 0  5px 0 5px;
  }
}
/* line 1, ../sass/components/_menu.scss */
.region-primary-menu {
  clear: both;
}

/* line 6, ../sass/components/_menu.scss */
#block-mainnavigation {
  display: none;
}

/* line 10, ../sass/components/_menu.scss */
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

/* line 18, ../sass/components/_menu.scss */
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

/* line 22, ../sass/components/_menu.scss */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* line 28, ../sass/components/_menu.scss */
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

/* line 32, ../sass/components/_menu.scss */
.navbar-nav {
  margin: 0;
}

/* line 36, ../sass/components/_menu.scss */
.navbar {
  min-height: inherit;
}

/* line 40, ../sass/components/_menu.scss */
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.is-active {
  text-decoration: underline;
}

/* line 48, ../sass/components/_menu.scss */
.navbar .sub-menu:before {
  border-left: none;
  left: -7px;
  top: 10px;
}

/* line 53, ../sass/components/_menu.scss */
.navbar .sub-menu:after {
  top: 11px;
  left: -6px;
}

/** Custom Overrides **/
/* line 59, ../sass/components/_menu.scss */
.navbar-default {
  border-radius: 0;
  border: 0;
}
/* line 63, ../sass/components/_menu.scss */
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
}
/* line 67, ../sass/components/_menu.scss */
.navbar-default li.dropdown:after {
  position: absolute;
  top: 3px;
  right: -3px;
  bottom: 0;
}
/* line 74, ../sass/components/_menu.scss */
.navbar-default li.dropdown:last-child:after {
  display: none;
}

/* line 80, ../sass/components/_menu.scss */
.navbar-toggle {
  margin: 3px 0 0 0;
  padding: 6px 10px;
}

@media only screen and (min-width: 767px) {
  /* line 86, ../sass/components/_menu.scss */
  .navbar-default li.dropdown:after {
    display: none;
  }

  /* line 90, ../sass/components/_menu.scss */
  #block-mainnavigation {
    display: block;
  }

  /* line 96, ../sass/components/_menu.scss */
  .region-primary-menu .navbar-nav {
    float: none;
    margin-left: 0;
  }
  /* line 101, ../sass/components/_menu.scss */
  .region-primary-menu .navbar-nav > li > a {
    float: left;
  }
  /* line 105, ../sass/components/_menu.scss */
  .region-primary-menu .navbar-nav .dropdown-menu li:first-child > a {
    padding-top: 10px;
  }
  /* line 110, ../sass/components/_menu.scss */
  .region-primary-menu .dropdown-menu {
    padding: 0;
  }
  /* line 112, ../sass/components/_menu.scss */
  .region-primary-menu .dropdown-menu > li:after {
    content: "";
    height: 2px;
    display: block;
  }
  /* line 119, ../sass/components/_menu.scss */
  .region-primary-menu ul li ul li a {
    min-width: 230px;
  }
}
@media only screen and (min-width: 767px) and (min-width: 960px) {
  /* line 125, ../sass/components/_menu.scss */
  .region-primary-menu .navbar-nav {
    float: left;
  }
}
/* line 133, ../sass/components/_menu.scss */
#menu-wrapper .region-primary-menu .block-menu.navigation {
  display: none;
}
/* line 136, ../sass/components/_menu.scss */
#menu-wrapper .region-primary-menu #block-responsivemenumobileicon {
  display: block;
}
/* line 138, ../sass/components/_menu.scss */
#menu-wrapper .region-primary-menu #block-responsivemenumobileicon .responsive-menu-toggle-icon:before,
#menu-wrapper .region-primary-menu #block-responsivemenumobileicon .responsive-menu-toggle-icon:after,
#menu-wrapper .region-primary-menu #block-responsivemenumobileicon .icon {
  background-color: black;
}

@media only screen and (min-width: 767px) {
  /* line 148, ../sass/components/_menu.scss */
  #menu-wrapper .region-primary-menu .block-menu.navigation {
    display: inherit;
  }
  /* line 151, ../sass/components/_menu.scss */
  #menu-wrapper .region-primary-menu #block-responsivemenumobileicon {
    display: none;
  }
}
/* line 158, ../sass/components/_menu.scss */
#menu-wrapper {
  width: 100%;
  clear: both;
}

/* line 163, ../sass/components/_menu.scss */
.block-menu.navigation {
  float: left;
}

/* line 171, ../sass/components/_menu.scss */
.region-primary-menu nav > ul {
  font-size: 11px;
  text-transform: uppercase;
}
/* line 176, ../sass/components/_menu.scss */
.region-primary-menu nav ul li > a:active,
.region-primary-menu nav ul li > a:focus,
.region-primary-menu nav ul li > a:hover,
.region-primary-menu nav ul li > a {
  font-weight: 600;
}
/* line 183, ../sass/components/_menu.scss */
.region-primary-menu nav > ul li a:active,
.region-primary-menu nav > ul li a:focus,
.region-primary-menu nav > ul li a:hover {
  background-color: inherit;
}
/* line 191, ../sass/components/_menu.scss */
.region-primary-menu nav > ul {
  font-size: 11px;
  text-transform: uppercase;
}
/* line 196, ../sass/components/_menu.scss */
.region-primary-menu nav ul li > ul a:active,
.region-primary-menu nav ul li > ul a:focus,
.region-primary-menu nav ul li > ul a:hover,
.region-primary-menu nav ul li > ul a {
  font-weight: 600;
}
/* line 203, ../sass/components/_menu.scss */
.region-primary-menu nav > ul li a:active,
.region-primary-menu nav > ul li a:focus,
.region-primary-menu nav > ul li a:hover {
  background-color: inherit;
}
@media only screen and (min-width: 767px) {
  /* line 212, ../sass/components/_menu.scss */
  .region-primary-menu li > a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  /* line 216, ../sass/components/_menu.scss */
  .region-primary-menu a {
    font-size: 13px;
    text-transform: uppercase;
  }
  /* line 220, ../sass/components/_menu.scss */
  .region-primary-menu a:hover {
    background-color: inherit;
  }
}
/* line 224, ../sass/components/_menu.scss */
.region-primary-menu nav ul .dropdown-menu {
  padding: 0;
}
/* line 228, ../sass/components/_menu.scss */
.region-primary-menu nav ul .dropdown-menu > li:after {
  content: "";
  height: 2px;
  display: block;
}
/* line 235, ../sass/components/_menu.scss */
.region-primary-menu nav ul li ul li a {
  min-width: 230px;
}

/* line 242, ../sass/components/_menu.scss */
.region-primary-menu > .no-padding-left {
  padding-left: 0px;
}

@media only screen and (min-width: 767px) {
  /* line 250, ../sass/components/_menu.scss */
  .region-primary-menu nav > ul > li:after {
    content: "•";
    padding: 0 0 0 0;
    margin-top: 0;
  }

  /* line 256, ../sass/components/_menu.scss */
  .region-primary-menu li > a {
    padding-top: 3px;
  }
}
/* line 1, ../sass/components/_breadcrumbs.scss */
.region-breadcrumb {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 6, ../sass/components/_breadcrumbs.scss */
.block-system-breadcrumb-block .breadcrumb {
  border-radius: inherit;
}

/* line 1, ../sass/components/_tables.scss */
table td {
  padding-right: 12px;
  vertical-align: top;
}

/* line 1, ../sass/components/_highlighted.scss */
.region-highlighted {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 4, ../sass/components/_highlighted.scss */
.region-highlighted .messages {
  max-width: 1950px;
  clear: both;
  margin-top: 30px;
  margin-left: 25px;
  margin-bottom: 20px;
}

/* line 1, ../sass/components/_page-container.scss */
.region-header, .region-primary-menu, .navbar-default, footer .region-footer, #site-info .region-site-info, .max-desktop-width {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (min-width: 767px) {
  /* line 8, ../sass/components/_page-container.scss */
  .region-header, .region-primary-menu, .navbar-default, footer .region-footer, #site-info .region-site-info, .max-desktop-width {
    padding: 0;
  }
}
/* line 1, ../sass/components/_footer.scss */
footer {
  float: left;
  width: 100%;
  padding: 0 5px 0 5px;
}

/* line 11, ../sass/components/_footer.scss */
.footer p {
  margin: 0;
}

/* line 15, ../sass/components/_footer.scss */
.site-copy-right {
  display: none;
}

/* line 21, ../sass/components/_footer.scss */
.region-footer ul.menu {
  padding: 0;
  margin: 0;
}

/* line 27, ../sass/components/_footer.scss */
#block-footermenu {
  float: left;
}
/* line 30, ../sass/components/_footer.scss */
#block-footermenu .menu {
  margin: 0;
}
/* line 33, ../sass/components/_footer.scss */
#block-footermenu .menu a {
  color: #FFF;
}
/* line 38, ../sass/components/_footer.scss */
#block-footermenu .menu li:first-child a {
  color: #7faedc;
  font-weight: bold;
  font-style: italic;
}

@media only screen and (min-width: 559px) {
  /* line 49, ../sass/components/_footer.scss */
  footer {
    padding: 0;
  }
}
/* line 1, ../sass/components/_site-information.scss */
#site-info {
  display: block;
  clear: both;
}
/* line 7, ../sass/components/_site-information.scss */
#site-info > div {
  font-size: 9px;
}
/* line 9, ../sass/components/_site-information.scss */
#site-info > div a {
  font-size: 10px;
}

/* line 2, ../sass/components/_noticeboard.scss */
.block-views-blocknoticeboard-blk-notices-list .views-row,
.block-views-blocknoticeboard-blk-notices-list > h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
/* line 9, ../sass/components/_noticeboard.scss */
.block-views-blocknoticeboard-blk-notices-list .field--name-node-link h2, .block-views-blocknoticeboard-blk-notices-list .field--name-node-link a,
.block-views-blocknoticeboard-blk-notices-list .field--name-body h2,
.block-views-blocknoticeboard-blk-notices-list .field--name-body a {
  color: black;
  font-size: 15px;
  font-weight: normal;
}

/* line 1, ../sass/components/_image-block.scss */
.image-block {
  margin-bottom: 20px;
  margin-top: 0;
}
/* line 6, ../sass/components/_image-block.scss */
.image-block .field--name-field-link a {
  display: block;
  text-align: center;
  padding: 5px 10px;
}
/* line 12, ../sass/components/_image-block.scss */
.image-block .field--name-field-image:hover {
  cursor: pointer;
}

/* line 17, ../sass/components/_image-block.scss */
.field--name-field-feature-blocks {
  float: right;
}

@media (max-width: 900px) {
  /* line 23, ../sass/components/_image-block.scss */
  .field--name-field-feature-blocks {
    float: none;
  }
}
/* line 3, ../sass/components/_search.scss */
.region-primary-menu .search-block-form {
  padding-right: 0;
  display: none;
}
/* line 6, ../sass/components/_search.scss */
.region-primary-menu .search-block-form .form-item, .region-primary-menu .search-block-form .form-actions {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 11, ../sass/components/_search.scss */
.region-primary-menu .navbar-form {
  margin-top: 5px;
  margin-right: -15px;
  margin-bottom: 5px;
}
/* line 16, ../sass/components/_search.scss */
.region-primary-menu .navbar-form .form-control {
  height: 20px;
  border-radius: inherit;
}
/* line 21, ../sass/components/_search.scss */
.region-primary-menu form input[type=search] {
  font-size: 13px;
  text-indent: 10px;
  margin: 0;
  padding: 0;
}
/* line 27, ../sass/components/_search.scss */
.region-primary-menu .form-submit {
  display: none;
}

@media only screen and (min-width: 767px) {
  /* line 34, ../sass/components/_search.scss */
  .region-primary-menu .search-block-form {
    display: block;
  }
}
/* line 1, ../sass/components/_search-page.scss */
.path-search {
  color: black;
}
/* line 5, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent {
  max-width: 1200px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
  background-color: white;
}
/* line 10, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent a {
  color: #4a4a4a;
  font-weight: bold;
}
/* line 16, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent input[type=search] {
  max-width: 300px;
}
/* line 19, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent #search-form {
  padding-top: 25px;
}
/* line 23, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent #search-form a {
  width: 100%;
  display: block;
  clear: both;
  padding-top: 10px;
}
/* line 29, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent #search-form .form-item label {
  width: 100%;
  float: left;
}
/* line 36, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent #search-form-content {
  padding-bottom: 50px;
}
/* line 37, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent #search-form-content ol {
  padding-left: 16px;
}
/* line 46, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent h2 {
  clear: both;
  padding-top: 25px;
}
/* line 52, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent #search-form input {
  color: black;
  float: left;
}
/* line 56, ../sass/components/_search-page.scss */
.path-search #block-mainpagecontent #search-form #edit-submit {
  margin-left: 0px;
  margin-top: 10px;
}

/* line 2, ../sass/components/_login-page.scss */
.path-user #block-mainpagecontent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0 100px 0;
  background: white;
}

/* line 2, ../sass/components/_calendar.scss */
.path-calendar #block-mainpagecontent {
  clear: both;
  clear: both;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
}
/* line 10, ../sass/components/_calendar.scss */
.path-calendar .calendar {
  padding: 30px;
}
/* line 13, ../sass/components/_calendar.scss */
.path-calendar .calendar .view-header h3 {
  text-align: center;
  font-size: 22px;
  color: #006666;
  margin: 0;
  padding: 0;
}
/* line 21, ../sass/components/_calendar.scss */
.path-calendar .calendar .pager {
  float: right;
  margin-top: -25px;
}
/* line 25, ../sass/components/_calendar.scss */
.path-calendar .calendar td.multi-day {
  background: #e8e8e8;
}
/* line 27, ../sass/components/_calendar.scss */
.path-calendar .calendar td.multi-day a {
  display: block;
}
/* line 32, ../sass/components/_calendar.scss */
.path-calendar .calendar-calendar .month-view .full div.calendar {
  width: 100%;
}
/* line 35, ../sass/components/_calendar.scss */
.path-calendar .calendar-calendar div.calendar {
  float: none;
}
/* line 40, ../sass/components/_calendar.scss */
.path-calendar .main .view-header > h3 {
  padding-top: 32px;
  width: 155px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 20px;
}
/* line 48, ../sass/components/_calendar.scss */
.path-calendar .main .pager {
  float: right;
  margin: -30px 0;
  margin-bottom: 20px;
}
/* line 54, ../sass/components/_calendar.scss */
.path-calendar #block-views-block-events-list-blk-events-list {
  padding: 10px;
  clear: both;
}
/* line 60, ../sass/components/_calendar.scss */
.path-calendar .views-field-field-event-date h2 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 9px;
  border-bottom: 1px solid #ccc;
}
/* line 66, ../sass/components/_calendar.scss */
.path-calendar .views-field-field-event-date .title-event {
  text-transform: uppercase;
}
/* line 69, ../sass/components/_calendar.scss */
.path-calendar .views-field-field-event-date .date-event {
  font-size: 16px;
}
/* line 74, ../sass/components/_calendar.scss */
.path-calendar .views-field-field-event-date .dot-event {
  margin: 0 10px 0 10px;
  position: relative;
}
/* line 78, ../sass/components/_calendar.scss */
.path-calendar .views-field-field-event-date .dot-event::before {
  content: "•";
  position: absolute;
  left: 0;
  font-size: 20px;
}

@media only screen and (min-width: 767px) {
  /* line 90, ../sass/components/_calendar.scss */
  .path-calendar .main .view-header > h3 {
    width: 155px;
    margin: 0 auto;
  }
}
/* line 1, ../sass/components/_form.scss */
.form-item {
  display: table;
  width: 100%;
}
/* line 6, ../sass/components/_form.scss */
.form-item label {
  display: table-cell;
}
/* line 9, ../sass/components/_form.scss */
.form-item input,
.form-item textarea {
  border: none;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  padding: 3px 5px;
  box-sizing: content-box;
  display: table-cell;
  width: 100%;
}

/* line 22, ../sass/components/_form.scss */
.form-type-textarea label {
  vertical-align: top;
}

/* line 28, ../sass/components/_form.scss */
.page-node-type-webform label {
  width: 75px;
}
/* line 32, ../sass/components/_form.scss */
.page-node-type-webform .field--type-webform {
  margin-right: 10px;
}
/* line 36, ../sass/components/_form.scss */
.page-node-type-webform #edit-actions {
  display: table;
  width: 89%;
  float: right;
}
/* line 42, ../sass/components/_form.scss */
.page-node-type-webform .webform-button--submit {
  margin-top: 10px;
  background: #009999;
  color: #FFF;
  border: 1px solid #a0dad8;
  text-align: right;
  text-transform: uppercase;
  padding: 3px 5px;
  box-sizing: content-box;
  display: table-cell;
  width: 100%;
}

/* line 57, ../sass/components/_form.scss */
#user-login-form {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}

/* line 63, ../sass/components/_form.scss */
#user-login-form .form-item label {
  width: 90px;
}

@media (max-width: 760px) {
  /* line 69, ../sass/components/_form.scss */
  .form-item label {
    float: none;
  }
  /* line 72, ../sass/components/_form.scss */
  .form-item input,
  .form-item textarea {
    float: none;
    width: 100%;
  }

  /* line 78, ../sass/components/_form.scss */
  .page-node-type-webform .webform-button--submit {
    float: none;
    margin: 0 auto;
    display: block;
    width: auto;
  }
}
/* line 2, ../sass/components/_contact-blocks.scss */
.field--name-field-info-blocks h2 {
  color: #009999;
  font-weight: 300;
  font-size: 22px;
}

/* line 1, ../sass/components/_contact-map.scss */
.field--name-ds-map {
  height: 400px;
  overflow: hidden;
}

/* line 1, ../sass/components/_article-content-title-top.scss */
article .content-title h2 {
  color: black;
  font-size: 22px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

/* line 2, ../sass/components/_article-content.scss */
article ul,
article ol {
  padding-left: 20px;
}

/* line 1, ../sass/components/_tabs.scss */
nav.tabs {
  background: #FFF;
}
/* line 4, ../sass/components/_tabs.scss */
nav.tabs a {
  color: #000;
}

/* line 9, ../sass/components/_tabs.scss */
ul.tabs {
  margin: 0;
}

/* line 1, ../sass/components/_messages.scss */
.messages {
  width: 97%;
  margin: 0 auto;
  margin-top: 20px;
  clear: both;
}

/* line 2, ../sass/components/_event.scss */
h2.event-title-with-date span {
  font-size: 14px;
  color: #000;
  font-weight: 300;
}

/* line 2, ../sass/layouts/_page-people.scss */
.page-node-type-people .layout--onecol {
  display: table;
}
/* line 6, ../sass/layouts/_page-people.scss */
.page-node-type-people .layout__region--content > span,
.page-node-type-people .layout__region--content > h1 {
  display: block;
  float: left;
  margin-top: 30px;
  margin-bottom: 0;
}
/* line 14, ../sass/layouts/_page-people.scss */
.page-node-type-people .layout__region--content > h1 {
  font-weight: 700;
  font-size: 20px;
}
/* line 19, ../sass/layouts/_page-people.scss */
.page-node-type-people .layout__region--content > span {
  margin-top: 35px;
}
/* line 23, ../sass/layouts/_page-people.scss */
.page-node-type-people .layout__region--content .field--type-text-with-summary {
  padding-top: 20px;
  float: left;
  width: 100%;
  margin-top: 10px;
}
/* line 30, ../sass/layouts/_page-people.scss */
.page-node-type-people .layout__region--content .field--name-field-people {
  padding-top: 20px;
  float: left;
}
/* line 35, ../sass/layouts/_page-people.scss */
.page-node-type-people .layout__region--content .paragraph--type--people {
  padding-left: 0;
}
/* line 37, ../sass/layouts/_page-people.scss */
.page-node-type-people .layout__region--content .paragraph--type--people .field--type-image {
  min-height: 200px;
}

@media only screen and (min-width: 559px) {
  /* line 47, ../sass/layouts/_page-people.scss */
  .page-node-type-people .layout__region--content .paragraph--type--people {
    padding-left: 0;
    min-height: 240px;
  }
  /* line 51, ../sass/layouts/_page-people.scss */
  .page-node-type-people .layout__region--content .paragraph--type--people > div {
    float: left;
  }
  /* line 54, ../sass/layouts/_page-people.scss */
  .page-node-type-people .layout__region--content .paragraph--type--people .field--name-field-name,
  .page-node-type-people .layout__region--content .paragraph--type--people .field--type-text-long {
    padding-left: 20px;
  }
  /* line 58, ../sass/layouts/_page-people.scss */
  .page-node-type-people .layout__region--content .paragraph--type--people .field--type-text-long {
    width: 60%;
  }
}
@media only screen and (min-width: 767px) {
  /* line 69, ../sass/layouts/_page-people.scss */
  .page-node-type-people .field--name-field-people {
    padding-top: 60px;
  }
}
@media (max-width: 700px) {
  /* line 2, ../sass/layouts/threecol-home.scss */
  .threecol-home {
    padding: 0;
  }
}
/* line 42, ../sass/styles.scss */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 47, ../sass/styles.scss */
.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

/* line 52, ../sass/styles.scss */
.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

/* line 61, ../sass/styles.scss */
.max-desktop-width {
  padding: 0 5px 0 5px;
}

@media only screen and (min-width: 559px) {
  /* line 68, ../sass/styles.scss */
  .max-desktop-width {
    padding: 0;
  }
}
/**
body{
  background-color: red;
}
//*/
