         <div class="content-top">
             <div class="col-md-12 ">
               <div class="content-title">
                    {{ title_suffix.contextual_links }}
                    {{ content.content_top.node_title }}
                    {% if content.content_top.field_sub_title|render|trim is not empty %}
                      <span>{{content.content_top.field_sub_title}}</span>
                     {% endif %}
                    {{content.content_top|without('field_sub_title','node_title') }}
                 </div>
              </div>
	        </div>
