$breakpoints: (
        "phone-small":  349px,
        "phone":        399px,
        "phone-wide":   479px,
        "phablet":      559px,
        "tablet-small": 639px,
        "tablet":       767px,
        "tablet-med":   960px,
        "tablet-wide":  1023px,
        "desktop":      1200px,
        "desktop-wide": 1439px
);

$font-color-body: #333333;
$font-color-1: #006699  ;
$font-color-2: white ;
$font-color-3: #ccc ;



$font-color-title-1: #006699;
$font-color-title-2: #cc0033;
$font-color-title-3: #ccc;
$font-color-sub-title-1: #717b82;
$font-color-sub-title-2: #45515a;
$font-color-sub-title-3: #45515a;

$font-color-a-1: #006699;
$font-color-a-2: #ccc;
$font-color-ahover-1: #006699;
$font-color-ahover-2: #ccc;
$font-color-aactive-1: #006699;
$font-color-aactive-2: #ccc;



$font-size-body: 15px;
$font-size-1: 15px;
$font-size-2: 10px;
$font-size-3: 10px;
$font-size-small: 15px;
$font-size-medium: 15px;
$font-size-large: 15px;
$font-size-title-1: 20px;
$font-size-title-2: 20px;
$font-size-title-3: 15px;
$font-size-title-4: 15px;
$font-size-title-5: 15px;
$font-size-title-6: 15px;
$font-size-title-content-1: 15px;
$font-size-title-content-2: 15px;
$font-size-title-content-3: 15px;
$font-size-title-content-4: 15px;
$font-size-title-content-5: 15px;
$font-size-title-content-6: 15px;



$primary-accent-color-1-rgba: rgba(170,209,228, 0.6);
$primary-accent-color-2-rgba: rgba(0,102,153,0.6);
$primary-accent-color-3-rgba: rgba(0,102,153,0.1);

$primary-accent-color-1: #aad1e4;
$primary-accent-color-2: #cc3333;
$primary-accent-color-3: #cccccc;
$footer-nav:#676767;
