@import "init";
@import "text";
@import "global/global_mixins";

body {

  color: $font-color-body;
  font-size: $font-size-body;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color:$font-color-1;

}

div h1 {

  text-transform: uppercase;
 font-size:  $font-size-title-1;
}

div h2 {

  text-transform: uppercase;
  font-size: $font-size-title-2;
}

div h3 {
  font-size: $font-size-title-3;
}

div h4 {
  font-size: $font-size-title-4;
}

div h5 {
  font-size: $font-size-title-5;
}

div h6 {
  font-size: $font-size-title-6;
}


article h1 {
  font-size:$font-size-title-content-1;
}

article h2 {
  font-size:$font-size-title-content-2;
}

article h3 {
  font-size:$font-size-title-content-3;

}

article h4 {
  font-size:$font-size-title-content-4;
}

article h5 {
  font-size:$font-size-title-content-5;

}

article h6 {
  font-size: $font-size-title-content-6;
}

@import "layouts/html";

@import "components/header";
@import "components/menu";
@import "components/node";
@import "components/views";
@import "components/blocks";
@import "components/slider";
@import "components/footer";

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}



/**
body{
  background-color: red;
}
//*/
