

 /*
  * Global mixins
  */




@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}


@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}



@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}



@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
    @include pseudo($pos: $position);
    width: 0;
    height: 0;
    @if $round {
        border-radius: 3px;
    }
    @if $direction == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        margin-top: 0 - round( $size / 2.5 );
    } @else if $direction == up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round( $size / 2.5 );
    } @else if $direction == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    } @else if  $direction == left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}



@mixin hardware($backface: true, $perspective: 1000) {
    @if $backface {
        backface-visibility: hidden;
    }
    perspective: $perspective;
}



@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}



@mixin font-source-sans($size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}



@mixin no-padding($side) {
    @if $side == 'all' {
        .p-none {
            padding: 0 !important;
        }
    } @else {
        .p-none-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");





@mixin mobile-break-points($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}




/**
 * hide block on mobile
 */
@mixin hide-on-mobile($screen) {
  @include mobile-break-points($screen,"max") {
        .hide-on-#{$screen} {
            display: none !important;
      }
   }
}

@include hide-on-mobile("phone-small");
@include hide-on-mobile("phone");
@include hide-on-mobile("phone-wide");
@include hide-on-mobile("phablet");
@include hide-on-mobile("tablet-small");
@include hide-on-mobile("tablet");
@include hide-on-mobile("tablet-wide");
@include hide-on-mobile("desktop");
@include hide-on-mobile("desktop-wide");




/**
 * remove padding from div on mobile only
 */
@mixin no-padding-mobile($side,$screen) {
      @include mobile-break-points($screen,"max") {
        @if $side == 'all' {
          .p-mob-none {
              padding: 0 !important;
           }
        } @else {
           .p-mob-none-#{$side} {
            padding-#{$side}: 0 !important;
        }
      }
   }
}

@include no-padding-mobile("left",'tablet');
@include no-padding-mobile("right","tablet");
@include no-padding-mobile("top","tablet");
@include no-padding-mobile("bottom","tablet");
@include no-padding-mobile("all","tablet");


 @mixin format-text-all($color, $font-s, $font-w, $font-st, $font-f,$text-t,$letter-s){
     color: $color;
     font-size: $font-s;
     font-weight:$font-w;
     font-family: $font-f;
     font-style: $font-st;
     text-transform: $text-t;
     letter-spacing: $letter-s;
 }