<div class="two-cols-right-sidebar custom-layout">
	<div class="content-top cttaat-top custom-layout-top">
		{{ content.top }}
</div>
		<div class="container-fluid cttaat-content custom-layout-content ">
			<article{{ attributes }}>
			{{ title_suffix.contextual_links }}
			<div class="col-md-9 ">
				<div class="custom-content-top row" >
					{{ content.content_top }}
				</div>
				<div class="row">
					{{ content.content_body }}
				</div>
			</div>
					<div class="col-md-3 cttaat-sidebar custom-layout-sidebar-right">
						{{ content.content_sidebar_right }}
			</div>
  </article>
	</div>
					{{ content.bottom }}
</div>
