div#header-social ul {
  float: right;
  padding:  0;

}

div#header-social ul li {
  display: inline;
  a span{
    margin-left:7px;
  }

}

div#header-social ul li .youtube {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  background: url(../images/youtube.png) top center no-repeat;
  background-size: cover;
}
div#header-social ul li .facebook {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  background: url(../images/facebook.png) top center no-repeat;
  background-size: cover;
}


#header-call{
 h2{
  margin-right: 15px;
  color: white;
  text-indent: -99999px;
 }
 h2::before{
  content: "";
  display: block;
  float: right;
  width: 295px;
  height: 26px;
  background: url(../images/bg-site-description.png) top center no-repeat;
  background-size: cover;
 }
}
