.header {
    background: url(../images/bg-header.jpeg) top center no-repeat;
    background-size: cover;
}


/*
	#menu-wrapper{
		clear: both;
		height:30px;
		background:  url(../images/bg-menu.jpeg)   top center no-repeat;
		background-size: cover;
  }
  */
#block-contactmap,
.content-top {
    background: url(../images/bg-top-content.jpeg) top center no-repeat;
    background-size: cover;
}

.content-body {
    background: url(../images/bg-content.jpeg) top center no-repeat;
    background-size: cover;
}

.path-calendar .main-wrapper{
  background: url(../images/bg-calendar.jpeg) top center no-repeat;
  background-size: cover;
}



/*
footer {
  background: url(../images/bg-footer.jpeg) top center no-repeat;
  background-size: cover;
}
*/

#site-info {
  background: url(../images/bg-site-info.jpeg) top center no-repeat;
  background-size: cover;
}


