<div class="content-top">
    {{ content.top }}
</div>
<div class="max-desktop-width">
    {{ title_suffix.contextual_links }}
    <div class="col-md-12 nopadding">
       <article{{ attributes }}>
           <div class="col-md-4 nopadding">
               {{ content.content_left }}
           </div>
           <div class="col-md-4">
               {{ content.content_middle }}
           </div>
           <div class="col-md-4">
               {{ content.content_right }}
           </div>
       </article>
    </div>
</div>
<aside class="col-md-12">
    {{ content.bottom }}
</aside>
