<article{{ attributes.addClass('stacked') }}>
  {{ title_suffix.contextual_links }}

  <div class="top clearfix">
    {{ content.top}}
  </div>

  <div class="middle clearfix">
    {{ content.middle }}
  </div>

  <div class="bottom clearfix">
    {{ content.bottom}}
  </div>
</article>

