<div class="content-top">
    {{ content.top }}
</div>
<div>
    <article{{ attributes.addClass('threecol-page') }}>
        {{ title_suffix.contextual_links }}
        <div class="col-md-12 content">
            <div class="node-title">
                {{ content.content_top.node_title }}
                {% if content.content_top.field_sub_title|render|trim is not empty %}
                    <span>{{content.content_top.field_sub_title}}</span>
                {% endif%}
            </div>
            {{content.content_top|without('field_sub_title','node_title') }}
        </div>
        <div class="row">
            {% set left_content_var = content.content_left|render|trim %}

            {% if left_content_var %}
                <div class="col-md-3">
                    {{ content.content_left }}
                </div>
                <div class="col-md-6">
                    {{ content.content_body }}
                </div>
            {% else %}   
                <div class="col-md-9">
                    {{ content.content_body }}
                </div>
            {% endif %}    
            <div class="col-md-3">
                {{ content.content_right }}
            </div>
        </div>
    </article>
</div>
<div class="col-md-12">
    {{ content.bottom }}
</div>
