<div class="content-top">
  {{ content.top }}
</div>


<article{{ attributes.addClass('threecol-stacked padded-layout colored-background container-fluid') }}>
    {{ title_suffix.contextual_links }}

    <div class="col-md-12">
      {{ content.content_top }}
    </div>

    <div class="col-md-4">
      {{ content.content_left }}
    </div>

    <div class="col-md-5">
      {{ content.content_middle }}
    </div>

    <div class="col-md-3">
      {{ content.content_right }}
    </div>
  </article>

{{ content.bottom }}
