<div class="content-top">
  {{ content.top }}
</div>

<div class="container-fluid">
  <article{{ attributes.addClass('threecol-home') }}>
    {{ title_suffix.contextual_links }}

    <div class="col-md-8">
      {{ content.content_top }}
      <div class="row">
        <div class="col-md-8">
          {{ content.content_left }}
        </div>
        <div class="col-md-4">
        {{ content.content_right }}
        </div>
      </div>
    </div>


    <div class="col-md-4">
      {{ content.sidebar_right }}
    </div>
  </article>
</div>

{{ content.bottom }}
