#block-contactmap iframe,
.max-width{
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}


#block-contactmap iframe{
  height:440px;
}
.main-wrapper{
 clear: both;
}

#block-mainpagecontent{
	> h2{
		display: none;
	}
}

.content-top {
  clear: both;
  #slick-blk-wrapper{
    background: white;

  }
}
