article h1 {
    font-size: $font-size-title-content-1;
    color: $primary-accent-color-1;
    font-weight: bold;
}

article h2 {
    font-size: $font-size-title-content-2;
    color:$primary-accent-color-2;
    font-weight: bold;
    font-style: italic;
  }

article h3 {
    font-size: $font-size-title-content-3;
    color: $primary-accent-color-1;
}

article h4 {
    font-size: $font-size-title-content-4;
    color: $primary-accent-color-1;
}

article h5 {
    font-size: $font-size-title-content-5;
    color: $primary-accent-color-1;
}

article h6 {
    font-size: $font-size-title-content-6;
    color: $primary-accent-color-1;
}

article {
    .content-title h2 {
      color: #333333;
      font-size: 35px;
      font-weight: normal;
      padding-bottom: 5px;
      border-bottom: 1px solid $primary-accent-color-1;
    }
    h1,h2,h3,h4,h5,h6 {
        font-size: $font-size-title-content-1;
        font-weight: 600;
    }
}
