div#block-gtranslate,
div#block-mainemail,
div#block-mainphonenumber {
    float: right;
    margin-right: 10px;
    select {}
}

div#block-gtranslate {
    margin-top: -2px;
}

div#block-mainemail {
    padding-right: 4px;
}

#block-mainphonenumber {
    span::after {
        content: "|";
        margin-left: 17px;
    }
}

div.region-primary-menu div.search-block-form {
    padding-right: 15px;
}


#block-headinformation {
    float: right;
    clear: right;
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
}

#block-allwebsitedetailsinline {
    float: left;
    padding: 5px;
    font-size: 13px;
    .name {
      font-weight: 600;
        font-size: 16px;
    }
    .address,
    .suburb,
    .state,
    .postcode,
    .email,
    .phone {
        text-transform: uppercase;
    }
}

@include mobile-break-points('tablet', "min") {
    #block-allwebsitedetailsinline {
        padding: 20px 50px 0 15px;
    }
}

#block-copyrightblock {
    float: left;
    width: 100%;
    padding-top: 5px;
    font-size: 13px;
    text-transform: uppercase;
    .col-md-6 {
        width: 100%;
    }
    a{
      font-size: 13px;
      text-transform: uppercase;
    }
}

@include mobile-break-points('tablet-wide', "min") {
    #block-copyrightblock {
        float: right;
        width: 441px;
        padding-top: 25px;
        .col-md-6 {
            width: 100%;
        }
    }
}

#block-ourlinkblock {
  padding-top: 20px;
  padding-bottom: 10px;
  #site-info a {
        color: #ccc;
    }
    .col-md-6 {
      width: 100%;
  }
}

@include mobile-break-points('tablet-wide', "min") {
  #block-ourlinkblock {
    float: right;
    padding-top: 60px;
  }

}

//-- notice board
.noticeboard{

  .underline{
    color:$primary-accent-color-2;
  }
}

.block-views-blocknoticeboard-blk-notices-list .views-row,
.block-views-blocknoticeboard-blk-notices-list > h2 {
  border-bottom: 1px solid $primary-accent-color-1;
}

.block-views-blocknoticeboard-blk-notices-list > h2 {
  font-size: 32px;
  font-weight: normal;
  font-family: $font-name-two;
  color:$primary-accent-color-2;
}


.block-views-blocknoticeboard-blk-notices-list .views-row:last-child{

  border-bottom: none;
}


.page-node-1{
  .tcclrtt-content{
    article{
      > .col-md-4{
        background-color: #f1f2f2;
      }
    }
  }
}

.block-views-blocknoticeboard-blk-notices-list > h2 {
  padding-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
}

//-- home blocks
.block-block-contenta2efe592-1dcd-462b-a5f3-05461e05c6bb,
.block-block-contentcfdf17ab-2f5c-49d8-9377-0c2c8ce4df6e,
.block-block-content9a2e1abc-087a-4154-bdd6-b70d4779b2fc {
  .image-block {
    margin-bottom: 0;
    margin-top: 0;
  }
  h2 {
    display:none;
  }
  h3{
    margin:10px 0;
    font-size: 17px;
    color: #006666;
    font-weight: bold;
  }
}
