//--core
.views-field-field-event-date {
	h2{
		border-bottom: 1px solid #f8ab70;
	}
}

#block-views-block-events-list-blk-events-list{
	color: black;
}

.path-calendar #block-views-block-events-list-blk-events-list {
  padding: 17px;
  clear: both;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}



.path-calendar .main{
  th {
		font-weight: bolder;

	}

	.calendar-calendar .month-view .full td.date-box.today {
	}

	.calendar-calendar .month-view .full tr td.single-day.today {
	}
	.calendar-calendar .month-view .full tr td.today, .calendar-calendar .month-view .full tr.odd td.today, .calendar-calendar .month-view .full tr.even td.today {
    background: none;
	}
	.calendar-calendar  {

		td {
			.inner{
				.calendar{
					background: #e7e7e7 !important;
					padding: 8px;
					border-radius: 15px;
				}
			}
		}
	}
	.path-calendar .main .calendar-calendar td .inner div.calendar div, .path-calendar .main .calendar-calendar td .inner div.calendar div a {
		border: none;
		background: #e7e7e7 !important;
		padding: 0;
	}
	.calendar-calendar td .inner div.calendar div, .calendar-calendar td .inner div.calendar div a {
    border: none;
		background: #e7e7e7 !important;
		padding: 0;
	}
}


