//-- core
footer {
}
#site-info{
	width:100%;
  float: left;
  color: white;
  min-height: 90px;
  a{
    color:white;
  }
}

#our-link-block{
}



//--site
footer{
	padding-top:10px;
	#block-allwebsitedetails{
		width:100%;
		float:left;
		@include mobile-break-points('tablet', "min") {
			float:right;
			padding-right: 15px;
			width: 29%;
		}
		h2{
			font-size: 17px;
			padding-top: 3px;
			padding-bottom: 5px;
		}
	}

	.site-reserved{
		display: none;
	}
	.site-copy-right{
		display: inline;
	}

  #block-facebook{
		float:left;
	}

	.site-information-reserved{
	}
}

#site-info{
	a{
	}
}
