.contact-message-contact-form {
	.form-item input, .form-item textarea {
		border: none;
		margin: 0;
		background: rgba(0, 0, 0, 0.1);
		padding: 3px 5px;
		box-sizing: content-box;
		display: table-cell;
		width: 75%;
		float: right;
		padding-right: 0px;
	}


	.form-item label {
		display:inherit;
		float: left;
	}
	#edit-mail,
	.form-type-email{
		label {
			text-indent: -9999px;
			visibility: hidden;
		}
		label::before {
			content: "Email";
			text-indent: 0;
			display: block;
			visibility: visible;
			line-height: initial;
		}
	}

	.form-item textarea {
		width: 75%;
	}
	#edit-submit{
		width: 76%;
    color: $primary-accent-color-1;
    float: right;
    border: none;
    background-color: #39404a;
    font-weight: bold;
    padding: 5px 0 5px 0;
    margin-bottom: 47px;

	}
}

.contact-message-contact-form .form-item label {
  display: block;
  float: left;
  height: 10px;
}
