//-- core
.header{
  color:$font-color-1;

  div#block-gtranslate,
  div#block-mainemail,
  div#block-mainphonenumber {
    color: grey;
  }

  div#block-gtranslate select,
  div#block-mainemail select,
  div#block-mainphonenumber select {
    color: white;
    background-color: grey;
 }


//-- remove of base
div#block-gtranslate,
div#block-mainemail,
div#block-mainphonenumber {
  color: white;
  margin-top: 24px;
}

div#block-gtranslate select,
div#block-mainemail select,
div#block-mainphonenumber select {
  color: white;
  background-color: grey;
}




//-- end remove


  font-size: 12px;
  .site-logo {
    img {
      max-width: 90%;
    }
  }

  #block-mainemail,
  #block-mainphonenumber{
    padding-right: 9px ;
    span::before {
      display: block;
      float: left;
      content: "P: ";
      padding-right:5px;
    }
  }

  #block-mainemail{
    span::before {
      content: "E: ";
    }
  }




  select {
    color:$font-color-1;
    border:0;
    background-color: inherit;

    option[value=''] {
      background-color: inherit;
    }
  }

}


.custom-content-top{
	h2{
		font-size:35px;
	}
}

@include mobile-break-points('tablet', "min") {
}


//--site
.header{
	padding-top:10px;

	#block-southerngrove-sitebranding{
    img {
			margin-top: -10px;
			margin-bottom: 5px;
		}
	}
	#block-headercalltoaction{
		padding-top: 44px;
    float: left;
		display: none;
	}
}

@include mobile-break-points('tablet', "min") {

	.header{

		#block-headercalltoaction{
			display: block;
		}
		#block-southerngrove-sitebranding{
			img {
				margin-left: -65px;
				max-width: 444px;
				min-height: 115px;
			}
		}
	}
}
