
//-- mobile menu
#menu-wrapper .region-primary-menu{
	.block-menu.navigation {
		display:none;
	}
	#block-responsivemenumobileicon{
		display:block;
		.responsive-menu-toggle-icon:before,
			.responsive-menu-toggle-icon:after,
			.icon{
			background-color: black;
		}
	}
}

@include mobile-break-points('tablet', "min") {
	#menu-wrapper .region-primary-menu{
		.block-menu.navigation {
			display:inherit;
		}
		#block-responsivemenumobileicon{
			display:none;
		}
	}
}

//-- menu colors
#menu-wrapper {
	background-color: white;
	float: left;
  width: 100%;
  .navbar-default{
    background-color: white;
  }

  .navbar-default .navbar-nav>li>a {
    color: gray;
  }

  .navbar-default .navbar-nav>.active>a{
    background-color:#ccc;
  }

}
.block-menu.navigation{
	float:left;
}

#mobile-navigation .icon-bar {
  background-color: $font-color-1;
}

.region-primary-menu {
	a{
		font-family: 'Kanit', sans-serif;
		font-weight: 500 !important;
	}

  nav > ul {
    font-size: 11px;
    text-transform: uppercase;
  }

	nav  ul  li> a:active,
		nav  ul  li> a:focus,
		nav  ul  li> a:hover,
		nav  ul  li > a {
		font-weight: 600;
		color:$font-color-a-2;
	}

  nav > ul li a:active,
		nav > ul li a:focus,
		nav > ul li a:hover{
    background-color:inherit;
  }



  nav > ul {
    font-size: 11px;
    text-transform: uppercase;
  }
	// drop down menu
	nav  ul  li> ul a:active,
		nav  ul  li> ul a:focus,
		nav  ul  li> ul a:hover,
		nav  ul  li > ul a {
		font-weight: 600;
		color:white;
	}

  nav > ul li a:active,
		nav > ul li a:focus,
		nav > ul li a:hover{
    background-color:inherit;
  }


  @include mobile-break-points('tablet', "min") {
    nav > ul {
      > li:first-child > a {
      }

      > li:after {
        content: "|";
        padding: 3px 0 0 0;
        color: $primary-accent-color-2;
        margin-top: 6px;
        display: block;
        float: left;
      }

      li:last-child:after {
        content: " ";
        padding: 0;
      }

    }

    li > a {
			padding-top: 4px;
			padding-bottom: 4px;
		}
    a {
      font-size: 13px;


      text-transform: uppercase;
    }
    a:hover {
      background-color: inherit;
    }
	}
	nav ul .dropdown-menu,
	nav .dropdown-menu>.active>a{
		background-color:rgba(0,0,0 ,0.6) ;
	}
  nav ul .dropdown-menu {
    padding: 0;
    a {
      color: white;
    }
    > li:after {
      content: "";
      background-image: linear-gradient(to right, white, white 25%, rgba(0, 0, 0, 0));
      height: 2px;
      display: block;
    }

  }
  nav ul .dropdown-menu  li a:hover{
		background-color:rgba(0,0,0 ,0.7) ;
	}
  nav  ul li ul li a {
    min-width: 230px;
  }

}

.region-primary-menu{
  > .no-padding-left {
		padding-left:0px;
	}
}


 /**
 * Update to menu color
 */
#menu-wrapper .navbar-default .navbar-nav > .active > a {
  background-color: white;
  border-bottom: 5px solid $primary-accent-color-1;
  text-decoration: none;
}

//#menu-wrapper .navbar-default .navbar-nav > li > a:hover {
//  background-color: white;
//  border-bottom: 5px solid $primary-accent-color-1;
//  text-decoration: none;
//}


#menu-wrapper .navbar-default .navbar-nav > li > a{
  color:#333333;
}

div.region-primary-menu .navbar-form {
  margin-top: 3px;
  margin-right: -30px;
  margin-bottom: 5px;
}
