.custom-layout-sidebar-right {
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
}

.custom-layout-sidebar-right .field--name-field-images{
	.field__item {
		img{
			margin-top: 15px;
		}
	}
}

.main-wrapper{
	article {
		width: 100%;
		margin: 0 auto;
    display: table;
    background-color: white;
    color: black;
    min-height: 100%;
	}
	}


	.path-frontpage{
  article{

		@include mobile-break-points('desktop', "min") {
			.col-md-9  {
				width: 72%;
				.custom-content-top{
					h2{
						margin-top: -20px;
					}
				}
			}
			.col-md-3{
				width: 26%;
				padding: 0;
				margin-right: 0;
				margin-left: 23px;
			}

		}

	}
}



@include mobile-break-points('tablet', "min") {

}



@include mobile-break-points('tablet-wide', "min") {

}
