//--core
#block-views-blocknoticeboard-block-1 {
	>	h2{
		display: block;
		margin-top: 5px;
		padding-bottom: 8px;

	}
	.underline{
		margin-top: 0;
		font-weight: bolder;
		float:left;
	}
	.field--name-node-changed-date{
		font-style: italic;
		float: left;
		padding-left: 7px;
	}
	.field--type-text-with-summary{
		clear:both;
	}
}

//--site
div#block-views-blocknoticeboard-block-1{
	margin-top: 8px;
	padding: 15px;
	background-color: #c6d9eb;
	> h2{
		font-style: italic;
		border-bottom:1px solid #7b7f84;
	}
	.views-row{
		font-size:12px;
		color: #7b7f84;
		h2{
			font-size: 13px;
			font-style: italic;
		}
		h2::after {
			content: "•";
			padding: 0 0 0 0;
			margin-top: 0;
		}
		a{
			font-size: 12px;
			color: #7b7f84;
		}
		.field--name-node-link {
			padding-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid  #7b7f84;
			margin-bottom: 15px;
		}
	}
}

