.path-search {
  //- search
  color:black;
	//-- page
	#block-mainpagecontent {
		max-width: 1200px;
		padding:0 10px 0 10px;
		margin: 0 auto;
		background-color:white;
		a{
			color: #4a4a4a;
			font-weight:bold;
		}
		//-- for profile

		input[type=search]{
			max-width:300px;
		}
		#search-form {
			padding-top: 25px;


			a{
				width: 100%;
				display: block;
				clear: both;
				padding-top: 10px;
			}
			.form-item label {

				width: 100%;
				float: left;
			}
		}

		#search-form-content{
			ol{
				padding-left: 16px;
			}
			padding-bottom: 50px;
		}

		//-- this build


		h2{

			clear: both;
			padding-top: 25px;
		}
		#search-form{
			input {
				color: black;
				float: left;
			}
			#edit-submit {
				margin-left: 0px;
				margin-top: 10px;
			}
			form{
			}

		}
	}
}

//--search block
.region-primary-menu {
  .search-block-form {
    padding-right: 0;
    display: none;
    .form-item, .form-actions {
			margin-top: 5px;
			margin-bottom: 0;
    }
  }
  form input[type=search] {
    color: black;
		background-color: $primary-accent-color-1;
		font-size: 13px;
    text-indent: 10px;
    margin: 0;
    padding: 0;
    @include input-placeholder {
      color: $font-color-1;
      background-color: $primary-accent-color-1;
    }

  }
  .form-submit {
    display: none;
  }
}

@include mobile-break-points('tablet', "min") {

  .region-primary-menu {
    .search-block-form {
      display: block;
    }
  }
}