

.path-frontpage{

	#slick-blk-wrapper{
		float: left;
		width: 96%;
		@include mobile-break-points('tablet', "min") {
			width: 850px;
		}

    padding: 0;
    margin-left: 15px;
	}
	.field--name-field-feature-blocks {
		display:none;
		@include mobile-break-points('desktop', "min") {
			display:block;
		}
		margin-right: 15px;
		.field__item{
			position: relative;
			div{
				position:relative;
				h2{
					padding: 0 ;
					margin: 0;
					position: absolute;
					bottom: 0;
					width: 100%;
					text-align: right;
					font-size: 16px;
					color:#82abd5;
					font-style: italic;
					font-weight: bold;

				}
				a{
					padding: 0;
					margin: 0;
					display: block;
					padding-bottom: 22px;
				}
			}
		}

		.image-block {
			margin-bottom: 11px;
			margin-top: 0;
		}

	}

}

