$breakpoints: (
        "phone-small":  349px,
        "phone":        399px,
        "phone-wide":   479px,
        "phablet":      559px,
        "tablet-small": 639px,
        "tablet":       767px,
        "tablet-med":   960px,
        "tablet-wide":  1023px,
        "desktop":      1200px,
        "desktop-wide": 1439px
);


$green-primary: #006666;
$green-light: #009999;
$blue-primary: #7faedc;



