@import "./init";

// Globals.
@import "global/reset";
@import "global/global-mixins";
@import "global/global";
@import "global/mobile";

// Components
@import "components/header";
@import "components/menu";
@import "components/breadcrumbs";
@import "components/tables";
@import "components/highlighted";
@import "components/main";
@import "components/page-container";
@import "components/footer";
@import "components/site-information";
@import "components/noticeboard";
@import "components/footer-address-block";
@import "components/image-block";
@import "components/search";
@import "components/search-page";
@import "components/login-page";
@import "components/calendar";
@import "components/form";
@import "components/contact-blocks";
@import "components/contact-map";
@import "components/article-content-title-top";
@import "components/article-content";
@import "components/tabs";
@import "components/messages";
@import "components/event";


// Layouts.
@import "layouts/_page-people";
@import "layouts/threecol-stacked";
@import "layouts/threecol-home";
@import "layouts/twocol";

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

@include mobile-break-points('desktop', "min") {

}

.max-desktop-width{
  @extend %page-container;
  padding:0 5px 0 5px;
}


@include mobile-break-points('phablet', "min") {
  .max-desktop-width{
    padding: 0;
  }
}




/**
body{
  background-color: red;
}
//*/
