{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 *
 *
 */
#}
{% set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
] %}
<section>
    <div {{ attributes.addClass(classes,'container') }}>
        {{ title_prefix }}
        {% if label %}
            <h2{{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-center">
                        <div class="contact_item">
                            <i class="pe-7s-call"></i>
                            <h3>CALL US</h3>
                            <h5>{{ content.main_phone }}</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <div class="contact_item">
                            <i class="pe-7s-map-marker"></i>
                            <h3>ADDRESS</h3>
                            <h5>{{ content.address }}</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <div class="contact_item">
                            <i class="pe-7s-mail-open"></i>
                            <h3>EMAIL</h3>
                            <h5>{{ content.email }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</section>


