<div {{ attributes.addClass('image-block') }}>
	<a href="{{ content.main_content.field_link.0['#url'] }}" title="{{ content.main_content.field_link.0['#title'] }}" >
		{{ content.main_content.field_image }}
	</a>
  <h3>{{ content.main_content.field_link.0['#title'] }}</h3>
</div>

