<div class="singlecol-content-with-hero-image ">
	<div class="content-top scwhi-top ">
    <div class="max-width">
		    {{ content.top }}
    </div>
  </div>
  <div class="content-body scwhi-content">
    <div class="max-width container-fluid bg-default-color">
		  <article{{ attributes }}>
        <div class="row">
           {% include directory ~ '/layouts/parts/default-content-title.html.twig' %}
        </div>
        <div class="row">
			    <div class="body col-md-12">
					 {{ content.content_body }}
			    </div>
        </div>
	    </article>
    </div>
	</div>
</div>
