<div class="left-sidebar-two-cols custom-layout">
    {% if content.top|render %}
	    <div class="content-top tatt-top custom-layout-top">
        <div class="max-width">
		       {{ content.top }}
        </div>
	    </div>
    {% endif %}
	<div class="content-body tatt-content custom-layout-content ">
		<div class="max-width container-fluid bg-default-color">
    	<article{{ attributes }}>
        <div class="row">
			  {% include directory ~ '/layouts/parts/default-content-title.html.twig' %}
        </div>
        <div class="row">
          {% if content.content_sidebar_left|render %}
			      <div class="col-md-4 tatt-sidebar custom-layout-sidebar-left ">
						   {{ content.content_sidebar_left }}
			      </div>
				    <div class="col-md-8 ">
					      {{ content.content_body }}
            </div>
          {% else %}
				    <div class="col-md-12 ">
					      {{ content.content_body }}
            </div>
          {% endif %}
        </div>
      </div>
  </article>
	</div>
   {% if content_bottom|render %}
      <div class="content-footer tatt-footer">
					{{ content.bottom }}
      </div>
   {% endif %}
</div>
