<div class="three-col-content-left-right">
  {% if content.top|render %}
	  <div class="content-top tcclrtt-top">
      <div class="max-width">
        {{ content.top }}
      </div>
    </div>
  {% endif %}
   	<div class="content-body  tcclrtt-content ">
      <div class="max-width container-fluid bg-default-color">
        <article{{ attributes.addClass('threecol-page') }}>
           <div class="col-md-8 p-none-left">
              {% include directory ~ '/layouts/parts/twocol-content-title.html.twig' %}
              {% if (content.content_right|render) or (content.content_left|render) %}
                <div class="col-md-6  p-none-left">
                  {{ content.content_body }}
                </div>
              {% else %}
                 <div class="col-md-12">
                   {{ content.content_body }}
                 </div>
              {% endif %}
              {% if content.content_left|render %}
                 <div class="col-md-6  tcclrtt-sidebar p-none-left">
                   {{ content.content_left }}
                 </div>
              {% endif %}
            </div>
            <div class="col-md-4">
            {% if content.content_right|render %}
              <div class=" tcclrtt-sidebar">
                 {{ content.content_right }}
              </div>
            {% endif %}
          </div>
        </div>
      </article>
    </div>
  </div>
  {% if content.content_bottom|render %}
    <div class="content-footer col-md-12">
      {{ content.bottom }}
    </div>
  {% endif %}
</div>
