<div class="left-and-right-sidebar  ">
  {% if content.top|render %}
	  <div class="content-top tc-top">
       <div class="max-width">
        {{ content.top }}
      </div>
    </div>
  {% endif %}
   	<div class="content-body tc-content custom-layout-content ">
      <div class="max-width container-fluid bg-default-color">
        <article{{ attributes.addClass('threecol-page') }}>
           <div class="row">
              {% include directory ~ '/layouts/parts/default-content-title.html.twig' %}
          </div>
          <div class="row">
            {% if content.content_left|render %}
                <div class="col-md-3  tc-sidebar custom-layout-sidebar-tc">
                  {{ content.content_left }}
                </div>
            {% endif %}

            {% if (content.content_right|render) or (content.content_left|render) %}
              <div class="col-md-6">
                {{ content.content_body }}
              </div>
            {% else %}
              <div class="col-md-12">
                 {{ content.content_body }}
              </div>
            {% endif %}

            {% if content.content_right|render %}
              <div class="col-md-3  tc-sidebar custom-layout-sidebar-right">
                 {{ content.content_right }}
              </div>
            {% endif %}
          </div>
        </div>
      </article>
    </div>
  </div>
  {% if content.content_bottom|render %}
    <div class="content-footer col-md-12">
      {{ content.bottom }}
    </div>
  {% endif %}
</div>
