<div class="two-cols-right-sidebar">
   {% if content.top|render %}
	   <div class="content-top ttaat-top">
      <div class="max-width">
		     {{ content.top }}
      </div>
	   </div>
  {% endif %}
	<div class=" content-body ttaat-content">
    <div class="max-width container-fluid bg-default-color">
			<article{{ attributes }}>
       <div class="row">
         {% include directory ~ '/layouts/parts/default-content-title.html.twig' %}
         </div>
         <div class="row">
        {% if content.content_sidebar_right|render %}
				  <div class="col-md-8 ">
					    {{ content.content_body }}
			    </div>
					<div class="col-md-4 ttaat-sidebar">
						{{ content.content_sidebar_right }}
			    </div>
        {% else %}
				  <div class="col-md-12 ">
					      {{ content.content_body }}
          </div>
        {% endif %}
        </div>
      </article>
    </div>
	</div>
   {% if content_bottom|render %}
      <div class="content-footer tatt-footer">
					{{ content.bottom }}
      </div>
   {% endif %}
</div>
