<div class="two-cols-right-sidebar">
	<div class="content-top tcrs-top">
    <div class="max-width">
		  {{ content.top }}
    </div>
  </div>
  <div class=" content-body tcrs-content">
    <div class="max-width container-fluid bg-default-color">
	    <article{{ attributes }}>
        <div class="row">
			     {% include directory ~ '/layouts/parts/default-content-title.html.twig' %}
        </div>
        </div class="row">
			    <div class="col-md-8 ">
              <div class="col-md-6">
                {{ content.content_left }}
              </div>
					    <div class="col-md-6 ">
						     {{ content.content_right }}
              </div>
			    </div>
			    <div class="col-md-4 tcrs-sidebar custom-layout-sidebar-right">
				    {{ content.content_sidebar_right }}
			    </div>
        </div>
      </article>
    </div>
	</div>
  {% if content.content_bottom|render %}
    <div class="content-footer col-md-12">
      {{ content.bottom }}
    </div>
  {% endif %}
</div>
