<div class="twocol-content-right-twocol-title">
  {% if content.top|render %}
	  <div class="content-top tcclrtt-top">
      <div class="max-width">
        {{ content.top }}
      </div>
    </div>
  {% endif %}
   	<div class=" content-body  tccrtt-content ">
      <div class="max-width container-fluid bg-default-color">
        <article{{ attributes.addClass('threecol-page') }}>
           <div class="col-md-8 p-none-left">
              {% include directory ~ '/layouts/parts/twocol-content-title.html.twig' %}
              <div class="col-md-12 p-none-left p-none-right">
                 {{ content.content_body }}
              </div>
            </div>
            <div class="col-md-4">
            {% if content.content_right|render %}
              <div class=" tccrtt-sidebar">
                 {{ content.content_right }}
              </div>
            {% endif %}
          </div>
        </div>
      </article>
     </div>
  </div>
  {% if content.content_bottom|render %}
    <div class="content-footer col-md-12">
      {{ content.bottom }}
    </div>
  {% endif %}
</div>
