.path-calendar {
  #block-mainpagecontent{
    clear:both;
    clear: both;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
  }
    .calendar {
        padding: 30px;
        .view-header {
            h3 {
                text-align: center;
                font-size: 22px;
                color: $green-primary;
                margin: 0;
                padding: 0;
            }
        }
        .pager {
            float: right;
            margin-top: -25px;
        }
        td.multi-day {
            background: #e8e8e8;
            a {
                display: block;
            }
        }
    }
    .calendar-calendar .month-view .full div.calendar {
        width: 100%;
    }
    .calendar-calendar div.calendar {
        float: none;
    }
    .main {
        .view-header {
            >h3 {
                padding-top: 32px;
                width: 155px;
                margin: 0 auto;
                text-transform: uppercase;
                font-size: 20px;
            }
        }
        .pager {
            float: right;
            margin: -30px 0;
            margin-bottom: 20px;
        }
    }
    #block-views-block-events-list-blk-events-list {
      padding: 10px;
      clear: both;
    }

    .views-field-field-event-date {
      h2{
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 9px;
        border-bottom: 1px solid #ccc;
      }
      .title-event{
        text-transform: uppercase;
      }
      .date-event{
        font-size: 16px;

      }

      .dot-event {
        margin: 0 10px 0 10px;
        position: relative;
      }
      .dot-event::before{
        content: "•";
        position: absolute;
        left: 0;
        font-size: 20px;
      }
    }
}

@include mobile-break-points('tablet', "min") {
    .path-calendar .main {
        .view-header {
            >h3 {
                width: 155px;
                margin: 0 auto;
            }
        }
    }
}
