footer {
	float: left;
	width: 100%;
	.region-footer{
		@extend %page-container;
	}
  padding:0 5px 0 5px;
}

.footer {
  p {
    margin: 0;
  }
}
.site-copy-right{
	display: none;
}

.region-footer {

  ul.menu {
    padding: 0;
    margin: 0;
  }
}

#block-footermenu {
  float: left;

  .menu {
    margin: 0;

    a {
      color: #FFF;
    }

    li {
      &:first-child a {
        color: $blue-primary;
        font-weight: bold;
        font-style: italic;
      }
    }
  }

}

@include mobile-break-points('phablet', "min") {
  footer {
    padding: 0;
  }
}
