.form-item {
  @extend %clearfix;
  display: table;
  width: 100%;

  label {
    display: table-cell;
  }
  input,
  textarea {
    border: none;
    margin: 0;
    background: rgba(0,0,0,0.1);
    padding: 3px 5px;
    box-sizing: content-box;
    display: table-cell;
    width: 100%;
  }
}

.form-type-textarea {
  label {
    vertical-align: top;
  }
}

.page-node-type-webform {
  label {
    width: 75px;
  }

  .field--type-webform {
    margin-right: 10px;
  }

  #edit-actions {
    display: table;
    width: 89%;
    float: right;
  }

  .webform-button--submit {
    margin-top: 10px;
    background: $green-light;
    color: #FFF;
    border: 1px solid #a0dad8;
    text-align: right;
    text-transform: uppercase;
    padding: 3px 5px;
    box-sizing: content-box;
    display: table-cell;
    width: 100%;
  }
}


#user-login-form{
	max-width: 600px;
	margin: 0 auto;
	padding-top: 30px;
}

#user-login-form .form-item label {
	width: 90px;
}

@media (max-width: 760px) {
  .form-item {
    label {
      float: none;
    }
    input,
    textarea {
      float: none;
      width: 100%;
    }
  }
  .page-node-type-webform .webform-button--submit {
    float: none;
    margin: 0 auto;
    display: block;
    width: auto;
  }
}

