header{
  padding:0  5px 0 5px;

  .site-logo{
    float:left;
    display: block;
  }
  .site-name {
    a {
      display: block;
      text-indent: -9999px;
    }
  }
}


.region-header{
  @extend %page-container;
}

@include mobile-break-points('tablet', "min") {
  header{
    padding:0  5px 0 5px;
  }
}