.image-block {

  margin-bottom: 20px;
  margin-top: 0;

  .field--name-field-link a {
    display: block;
    text-align: center;
    padding: 5px 10px;
  }

  .field--name-field-image:hover {
    cursor: pointer;
  }
}

.field--name-field-feature-blocks {
  float: right;
  
}

@media (max-width: 900px) {
  .field--name-field-feature-blocks {
    float: none;
  }
}
