.region-primary-menu{
  @extend %page-container;
  clear:both;
}

#block-mainnavigation{
  display: none;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;

}


.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

.navbar-nav {
  margin: 0;

}
.navbar{
   min-height: inherit;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.is-active {
  text-decoration: underline;
}

.navbar .sub-menu:before {
  border-left: none;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  top: 11px;
  left: -6px;
}

/** Custom Overrides **/
.navbar-default {
  @extend %page-container;
  border-radius: 0;
  border: 0;
  .navbar-nav>li>a {
    text-transform: uppercase;
  }

  li.dropdown:after {
    position: absolute;
    top: 3px;
    right: -3px;
    bottom: 0;
  }

  li.dropdown:last-child:after {
    display: none;
  }

}

.navbar-toggle {
  margin: 3px 0 0 0;
  padding: 6px 10px;
}

@include mobile-break-points('tablet', "min") {
  .navbar-default li.dropdown:after {
    display: none;
  }

  #block-mainnavigation{
    display: block;
  }


  .region-primary-menu {
    .navbar-nav {
      float: none;
      margin-left: 0;
    }

    .navbar-nav > li > a {
      float :left;
    }

    .navbar-nav .dropdown-menu li:first-child > a {
      padding-top: 10px;
    }


    .dropdown-menu {
      padding: 0;
      > li:after {
        content: "";
        height: 2px;
        display: block;
      }

    }
    ul li ul li a {
      min-width: 230px;
    }
  }

  @include mobile-break-points('tablet-med', "min") {
    .region-primary-menu .navbar-nav {
      float: left;
    }
  }
}


#menu-wrapper .region-primary-menu{
	.block-menu.navigation {
		display:none;
	}
	#block-responsivemenumobileicon{
		display:block;
		.responsive-menu-toggle-icon:before,
			.responsive-menu-toggle-icon:after,
			.icon{
			background-color: black;
		}
	}
}

@include mobile-break-points('tablet', "min") {
	#menu-wrapper .region-primary-menu{
		.block-menu.navigation {
			display:inherit;
		}
		#block-responsivemenumobileicon{
			display:none;
		}
	}
}

//-- desktop menu
#menu-wrapper {
	width: 100%;
  clear: both;
}

.block-menu.navigation{
	float:left;
}

#mobile-navigation .icon-bar {
}

.region-primary-menu {
  nav > ul {
    font-size: 11px;
    text-transform: uppercase;
  }

	nav  ul  li> a:active,
		nav  ul  li> a:focus,
		nav  ul  li> a:hover,
		nav  ul  li > a {
		font-weight: 600;
	}

  nav > ul li a:active,
		nav > ul li a:focus,
		nav > ul li a:hover{
    background-color:inherit;
  }



  nav > ul {
    font-size: 11px;
    text-transform: uppercase;
  }
	// drop down menu
	nav  ul  li> ul a:active,
		nav  ul  li> ul a:focus,
		nav  ul  li> ul a:hover,
		nav  ul  li > ul a {
		font-weight: 600;
	}

  nav > ul li a:active,
		nav > ul li a:focus,
		nav > ul li a:hover{
    background-color:inherit;
  }


  @include mobile-break-points('tablet', "min") {

    li > a {
			padding-top: 4px;
			padding-bottom: 4px;
		}
    a {
      font-size: 13px;
      text-transform: uppercase;
    }
    a:hover {
      background-color: inherit;
    }
	}
  nav ul .dropdown-menu {
    padding: 0;
    a {
    }
    > li:after {
      content: "";
      height: 2px;
      display: block;
    }

  }
  nav  ul li ul li a {
    min-width: 230px;
  }

}

.region-primary-menu{
  > .no-padding-left {
		padding-left:0px;
	}
}


@include mobile-break-points('tablet', "min") {

	.region-primary-menu nav > ul > li:after {
		content: "•";
    padding: 0 0 0 0;
    margin-top: 0;

	}
	.region-primary-menu li > a {
		padding-top: 3px;
	}

}
