.block-views-blocknoticeboard-blk-notices-list{
  .views-row,
  > h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  .field--name-node-link,
  .field--name-body {
    h2,a
      {
       color:black;
       font-size: 15px;
       font-weight: normal;
    }
  }
}
