//--search block
.region-primary-menu {
  .search-block-form {
    padding-right: 0;
    display: none;
    .form-item, .form-actions {
			margin-top: 5px;
			margin-bottom: 0;
    }
  }
  .navbar-form  {
    margin-top: 5px;
    margin-right: -15px;
    margin-bottom: 5px;

  .form-control{
    height:20px;
    border-radius:inherit;
   }
  }
  form input[type=search] {
		font-size: 13px;
    text-indent: 10px;
    margin: 0;
    padding: 0;
  }
  .form-submit {
    display: none;
  }
}

@include mobile-break-points('tablet', "min") {
  .region-primary-menu {
    .search-block-form {
      display: block;
    }
  }
}
