.path-search {
  //- search
  color:black;
	//-- page
	#block-mainpagecontent {
		max-width: 1200px;
		padding:0 10px 0 10px;
		margin: 0 auto;
		background-color:white;
		a{
			color: #4a4a4a;
			font-weight:bold;
		}
		//-- for profile

		input[type=search]{
			max-width:300px;
		}
		#search-form {
			padding-top: 25px;


			a{
				width: 100%;
				display: block;
				clear: both;
				padding-top: 10px;
			}
			.form-item label {

				width: 100%;
				float: left;
			}
		}

		#search-form-content{
			ol{
				padding-left: 16px;
			}
			padding-bottom: 50px;
		}

		//-- this build


		h2{

			clear: both;
			padding-top: 25px;
		}
		#search-form{
			input {
				color: black;
				float: left;
			}
			#edit-submit {
				margin-left: 0px;
				margin-top: 10px;
			}
			form{
			}

		}
	}
}

